# Split of openapi/_original/ludo-ai-rest-api-openapi.yml by tag (3D Models).
openapi: 3.0.0
info:
  version: 0.9.10
  title: Ludo.ai 3D Models API
  description: |-
    Turn an image or text into a textured 3D model (GLB), auto-rig it and animate it from a prompt or a preset.

    Part of the Ludo.ai public API. Full spec: https://api.ludo.ai/api-documentation/openapi.json
  x-logo:
    url: https://api.ludo.ai/static/logo-small.png
    altText: Logo
  x-model-lineup: 'Current models: hydra (Hydra) - Most capable all-around model, generates audio. forge
    (Forge) - Sharper detail, simpler motion. Best for simple body shapes and short actions; may need
    a few tries. forge-pixel (Forge Pixel) - Best for low-res pixel art animations. griffin (Griffin)
    - Fast cinematic videos in any style, with audio, 480p. griffin-hd (Griffin HD) - Same as Griffin,
    but in 720p. Per action - sprite animation: hydra, forge, forge-pixel; motion transfer: hydra, forge,
    forge-pixel; spritesheet editing: hydra, forge, forge-pixel; video generation: griffin, griffin-hd;
    references to video: griffin, griffin-hd; video editing: griffin-hd. LEGACY models, still accepted
    but scheduled for removal - do not use them for new work: blitz, eagle, eagle-audio, tango.'
  contact:
    name: Ludo.ai Support
    email: support@ludo.ai
    url: https://ludo.ai/contact
  termsOfService: https://ludo.ai/terms-of-service
externalDocs:
  description: API reference
  url: https://api.ludo.ai/api-documentation
servers:
- url: https://api.ludo.ai/api
  description: Production
tags:
- name: 3D Models
paths:
  /assets/3d-model:
    post:
      summary: create3DModel
      tags:
      - 3D Models
      operationId: create3DModel
      x-credit-action: GENERATE_3D_MODEL
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create3DModelPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model3DResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/3d-model" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"image":"<url> OR data:image/png;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/3d-model", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "image": "<url> OR data:image/png;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/3d-model",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "image": "<url> OR data:image/png;base64,..."
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 3 credits per call
      x-credit-summary: This endpoint consumes 3 credits per call
      description: |-
        Convert a source image into a textured 3D model (image-to-3D). The job result is a downloadable GLB model_url plus an array of snapshot image URLs rendered from different angles (handy for previews). image is the front view; pass an optional back_image (the same subject seen from behind) so the back of the model follows it instead of being invented. Accepts optional mesh controls: target_num_faces (max triangle count, 1000-200000, default 50000), texture_size (1024 or 2048, default 2048), and texture_type ("pbr", "simple", or "none", default "pbr"). Credits are held when the job is accepted and refunded if it fails or is cancelled. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type 3d). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 3 credits per call.
      x-mcp-description: |-
        Convert a source image into a textured 3D model (image-to-3D). The job result is a downloadable GLB model_url plus an array of snapshot image URLs rendered from different angles (handy for previews). image is the front view; pass an optional back_image (the same subject seen from behind) so the back of the model follows it instead of being invented. Accepts optional mesh controls: target_num_faces (max triangle count, 1000-200000, default 50000), texture_size (1024 or 2048, default 2048), and texture_type ("pbr", "simple", or "none", default "pbr"). Credits are held when the job is accepted and refunded if it fails or is cancelled. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type 3d). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 3 credits per call.
  /assets/3d-model/rig:
    post:
      summary: rigModel
      tags:
      - 3D Models
      operationId: rigModel
      x-credit-action: RIG_3D_MODEL
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rig3DModelPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rig3DModelResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/3d-model/rig" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"model":"<url> OR data:model/gltf-binary;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/3d-model/rig", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "model": "<url> OR data:model/gltf-binary;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/3d-model/rig",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "model": "<url> OR data:model/gltf-binary;base64,..."
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 1 credits per call
      x-credit-summary: This endpoint consumes 1 credits per call
      description: |-
        Rig a 3D model: generate a skeleton and skin weights for an existing GLB so it can be animated. Accepts a URL or base64-encoded GLB in `model` (here `model` is the 3D asset file, not an AI model name - there is no model choice on the 3D tools). The job result is a downloadable `model_url` for the rigged GLB. rig_type selects the skeleton prior - general (default, any asset), humanoid (anime-style characters), game (classic game-character rigs), or the pinned humanoid templates for two-armed, two-legged characters: humanoid_template (standard 22-joint skeleton with named joints, required for animating from the preset library) and humanoid_template_hands (52 joints, five fingers per hand). joint_naming relabels the identified joints to a convention - smpl (default), mixamo, humanik, unreal, godot, rigify, or vroid - without changing the skeleton. Credits are held when the job is accepted and refunded if it fails or is cancelled. Rigging is non-destructive to geometry but replaces any prior skeleton, so animations made against an old rig no longer apply. Requires an API key (user scope). The call returns 202 with a job id - poll `GET /assets/jobs/{id}`, honouring poll_after_ms or long-polling with wait=30, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 1 credits per call.
      x-mcp-description: |-
        Rig a 3D model: generate a skeleton and skin weights for an existing GLB so it can be animated. Accepts a URL or base64-encoded GLB in `model` (here `model` is the 3D asset file, not an AI model name - there is no model choice on the 3D tools). The job result is a downloadable `model_url` for the rigged GLB. rig_type selects the skeleton prior - general (default, any asset), humanoid (anime-style characters), game (classic game-character rigs), or the pinned humanoid templates for two-armed, two-legged characters: humanoid_template (standard 22-joint skeleton with named joints, required for animating from the preset library) and humanoid_template_hands (52 joints, five fingers per hand). joint_naming relabels the identified joints to a convention - smpl (default), mixamo, humanik, unreal, godot, rigify, or vroid - without changing the skeleton. Credits are held when the job is accepted and refunded if it fails or is cancelled. Rigging is non-destructive to geometry but replaces any prior skeleton, so animations made against an old rig no longer apply. Requires an API key (user scope). The call returns 202 with a job id - poll `GET /assets/jobs/{id}`, honouring poll_after_ms or long-polling with wait=30, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 1 credits per call.
  /assets/3d-model/animate:
    post:
      summary: animate3DModel
      tags:
      - 3D Models
      operationId: animate3DModel
      x-credit-action: ANIMATE_3D_MODEL
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Animate3DModelPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimationCandidates'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/3d-model/animate" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"model":"<url> OR data:model/gltf-binary;base64,...","prompt":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/3d-model/animate", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "model": "<url> OR data:model/gltf-binary;base64,...",
              "prompt": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/3d-model/animate",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "model": "<url> OR data:model/gltf-binary;base64,...",
                "prompt": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 0.2 credits per call
      x-credit-summary: This endpoint consumes 0.2 credits per call
      description: |-
        Generate text-driven skeletal animations for an already-rigged 3D model. Pass the rigged GLB in `model` (URL or base64; the 3D asset file, not an AI model name) and a motion `prompt` (e.g. "walking", "swinging its axe"). The model must already have a skeleton - rig it first with rigModel if not. The job result is num_variants candidate animations (default 4), each a standalone animation-only GLB (skeleton + one clip, no mesh) in `glb_url` plus an mp4 `preview_url`, so you can pick the best one and fuse it with your model in a game engine or three.js. mode selects the representation - rot_trans (default, rotation plus translation per bone, most faithful) or rot_only (rotation only, easier to retarget onto another skeleton in an engine). Animation quality is hit-or-miss, which is why multiple candidates are returned. Credits are held once per call regardless of variant count and refunded if the job fails or is cancelled. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 0.2 credits per call.
      x-mcp-description: |-
        Generate text-driven skeletal animations for an already-rigged 3D model. Pass the rigged GLB in `model` (URL or base64; the 3D asset file, not an AI model name) and a motion `prompt` (e.g. "walking", "swinging its axe"). The model must already have a skeleton - rig it first with rigModel if not. The job result is num_variants candidate animations (default 4), each a standalone animation-only GLB (skeleton + one clip, no mesh) in `glb_url` plus an mp4 `preview_url`, so you can pick the best one and fuse it with your model in a game engine or three.js. mode selects the representation - rot_trans (default, rotation plus translation per bone, most faithful) or rot_only (rotation only, easier to retarget onto another skeleton in an engine). Animation quality is hit-or-miss, which is why multiple candidates are returned. Credits are held once per call regardless of variant count and refunded if the job fails or is cancelled. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 0.2 credits per call.
  /assets/3d-model/animate-preset:
    post:
      summary: animate3DModelPreset
      tags:
      - 3D Models
      operationId: animate3DModelPreset
      x-credit-action: ANIMATE_3D_PRESET
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Animate3DPresetModelPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimationCandidates'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/3d-model/animate-preset" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"model":"<url> OR data:model/gltf-binary;base64,...","preset_id":"<url>"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/3d-model/animate-preset", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "model": "<url> OR data:model/gltf-binary;base64,...",
              "preset_id": "<url>"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/3d-model/animate-preset",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "model": "<url> OR data:model/gltf-binary;base64,...",
                "preset_id": "<url>"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 0.2 credits per call
      x-credit-summary: This endpoint consumes 0.2 credits per call
      description: |-
        Apply a curated animation preset to an already-rigged 3D model (retargeting). Pass the rigged GLB in `model` (URL or base64; the 3D asset file, not an AI model name) and a `preset_id` from the animation presets list (from listAnimationPresets) - only presets that expose a `clip_url` can be applied to a 3D model. The model must have a humanoid-template rig (rig it with rig_type humanoid_template or humanoid_template_hands). The job result is one retargeted animation - a standalone animation-only GLB in `glb_url` plus an mp4 `preview_url` - in the same `animations` envelope as the animate endpoint. crop_loop trims the clip to its seamlessly-looping span (omit to follow the preset's own loop flag); in_place removes net travel so the character moves on the spot, as game-engine locomotion expects (omit to keep the preset's own travel). Credits are held when the job is accepted and refunded if it fails or is cancelled. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 0.2 credits per call.
      x-mcp-description: |-
        Apply a curated animation preset to an already-rigged 3D model (retargeting). Pass the rigged GLB in `model` (URL or base64; the 3D asset file, not an AI model name) and a `preset_id` from the animation presets list (from listAnimationPresets) - only presets that expose a `clip_url` can be applied to a 3D model. The model must have a humanoid-template rig (rig it with rig_type humanoid_template or humanoid_template_hands). The job result is one retargeted animation - a standalone animation-only GLB in `glb_url` plus an mp4 `preview_url` - in the same `animations` envelope as the animate endpoint. crop_loop trims the clip to its seamlessly-looping span (omit to follow the preset's own loop flag); in_place removes net travel so the character moves on the spot, as game-engine locomotion expects (omit to keep the preset's own travel). Credits are held when the job is accepted and refunded if it fails or is cancelled. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 0.2 credits per call.
  /assets/3d-models/results:
    get:
      description: |-
        **Deprecated:** prefer `GET /assets/generations` (all types, paginated, same source filter). This endpoint continues to work; no removal is scheduled.
        List 3D models you previously generated through the API, most recent first. This is a free read-only history lookup (no credits, no generation); it does not create anything. Pass an optional request_id query parameter to return only the results tagged with that id when you originally called create3DModel. Requires an API key (user scope).
      tags:
      - 3D Models
      operationId: get3DModelResults
      deprecated: true
      x-mcp-exclude: true
      security:
      - ApiKey: []
      parameters:
      - name: request_id
        in: query
        description: Filter results by request_id
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: 'Which surface the results were generated from: api (default, your API/MCP generations
          from the last 7 days), web (your Ludo web studio generations, no time limit), or all'
        required: false
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: api
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreeDModelResult'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/3d-models/results" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/3d-models/results", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/3d-models/results",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
components:
  schemas:
    Animate3DModelPayload:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
          description: The already-rigged 3D asset to animate, as a URL or base64-encoded GLB file (not
            an AI model name). Rig it first with rigModel if it has no skeleton.
          example: <url> OR data:model/gltf-binary;base64,...
        prompt:
          type: string
          description: Desired motion, e.g. "walking" or "swinging its axe".
        mode:
          type: string
          enum:
          - rot_trans
          - rot_only
          default: rot_trans
          description: 'Animation representation: rot_trans (per-bone rotation+translation, most faithful)
            or rot_only (rotation + root translation only, for retargeting).'
          example: rot_trans
        num_variants:
          type: integer
          default: 4
          minimum: 1
          maximum: 8
          description: Number of candidate animations to generate; each returned as a standalone animation-only
            GLB with an mp4 preview.
          example: 4
        loop:
          type: boolean
          default: true
          description: 'Return to the initial pose: each clip plays forward then mirrors back to the rest
            pose for a seamless loop. Best for one-way motions (crouch, punch, wave); reads oddly for
            cyclic gaits like walking.'
          example: true
        augment_prompt:
          type: boolean
          default: true
          description: Rewrite the prompt into a detailed motion caption with an LLM (recommended).
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    Animate3DPresetModelPayload:
      type: object
      required:
      - model
      - preset_id
      properties:
        model:
          type: string
          description: The already-rigged 3D asset, as a URL or base64-encoded GLB file (not an AI model
            name). Rig it with rigModel using rig_type humanoid_template or humanoid_template_hands first.
          example: <url> OR data:model/gltf-binary;base64,...
        preset_id:
          type: string
          description: id of an animation preset from the presets list. Only presets that expose a clip_url
            can be applied to a 3D model.
        crop_loop:
          type: boolean
          description: Trim the animation to the span that loops seamlessly. Omit to follow the preset's
            own loop flag. Ignored when no clean loop exists.
        in_place:
          type: boolean
          description: Remove the animation's net travel so the character moves on the spot (engine-driven
            locomotion). Omit to keep the preset's own travel.
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    AnimationCandidates:
      type: object
      properties:
        animations:
          type: array
          items:
            $ref: '#/components/schemas/AnimationClip'
    AnimationClip:
      type: object
      properties:
        clip_name:
          type: string
        prompt:
          type: string
        preset_id:
          type: string
          description: Set when the clip came from the preset library (retargeting) rather than a text
            prompt.
        mode:
          type: string
          enum:
          - rot_trans
          - rot_only
          example: rot_trans
        seed:
          type: integer
        glb_url:
          type: string
          example: <url>
        preview_url:
          type: string
          example: <url>
        motion:
          type: number
          format: float
        fit_rmse:
          type: number
          format: float
    Create3DModelPayload:
      type: object
      required:
      - image
      properties:
        image:
          type: string
          description: URL or base64-encoded image to convert to 3D, taken as the front view of the subject
          example: <url> OR data:image/png;base64,...
        back_image:
          type: string
          description: 'Optional URL or base64-encoded image of the SAME subject seen from behind (rotated
            180 degrees from image). The model''s back then follows it instead of being invented from
            the front view alone. It must show the same subject, at the same scale and in the same pose
            and style as image. Only a back view is supported: a side or three-quarter view here produces
            a distorted model. No extra cost.'
          example: <url> OR data:image/png;base64,...
        target_num_faces:
          type: integer
          default: 50000
          minimum: 1000
          maximum: 200000
          description: Maximum triangle count for the mesh (1000-200000)
          example: 50000
        texture_size:
          type: integer
          default: 2048
          description: Texture resolution in pixels
          enum:
          - 1024
          - 2048
          example: 2048
        texture_type:
          type: string
          default: pbr
          description: Texture type
          enum:
          - pbr
          - simple
          - none
          example: pbr
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        metadata:
          type: string
        error_payload:
          type: string
        intent:
          type: object
          description: Stripe intent details sent with 3D Secure (406) errors
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - payment
              - setup
              example: payment
            client_secret:
              type: string
    Model3DResult:
      type: object
      properties:
        model_url:
          type: string
          description: URL to the generated 3D model file
          example: <url>
        snapshots:
          type: array
          items:
            type: string
          description: URLs to snapshot images from different angles (useful for previews and MCP agents)
    PublicJob:
      type: object
      required:
      - id
      - task_type
      - status
      - created_at
      properties:
        id:
          type: string
        task_type:
          type: string
          description: 'The public operationId that created this job (e.g. createImage). Determines the
            shape of `result`: it is exactly the 200 response body documented for that operation.'
        status:
          type: string
          enum:
          - queued
          - running
          - succeeded
          - failed
          - canceled
          example: queued
        request_id:
          type: string
        created_at:
          type: integer
          format: int64
          description: Unix ms
        finished_at:
          type: integer
          format: int64
        credits_charged:
          type: number
          format: float
          description: Credits this job cost you. Charged at enqueue; reported as 0 once a job fails or
            is canceled, since the charge is refunded.
        result:
          type: object
          description: Present only when status is succeeded. Same shape as the synchronous response of
            the operation named by task_type.
        error:
          $ref: '#/components/schemas/PublicJobError'
        poll_after_ms:
          type: integer
          format: int32
          description: 'Present while the job is queued or running: wait at least this many milliseconds
            before polling again. Prefer GET /assets/jobs/{id}?wait=30 (long-poll) over tight loops.'
    PublicJobError:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
    Rig3DModelPayload:
      type: object
      required:
      - model
      properties:
        model:
          type: string
          description: The 3D asset to rig, as a URL or base64-encoded GLB file (not an AI model name).
          example: <url> OR data:model/gltf-binary;base64,...
        rig_type:
          type: string
          enum:
          - general
          - humanoid
          - game
          - humanoid_template
          - humanoid_template_hands
          default: general
          description: Which skeleton to build. Pick humanoid_template (or humanoid_template_hands) if
            you intend to use animate3DModelPreset later - the default general rig cannot take presets.
            general (any asset), humanoid (anime-style characters), game (classic game-character rigs),
            or the pinned humanoid templates with named joints required for the animation preset library
            - humanoid_template (22 joints) / humanoid_template_hands (52, five fingers per hand). Templates
            only suit two-armed, two-legged characters.
          example: general
        joint_naming:
          type: string
          enum:
          - smpl
          - mixamo
          - humanik
          - unreal
          - godot
          - rigify
          - vroid
          default: smpl
          description: 'Bone naming convention for the identified joints: smpl (default), mixamo (Unity''s
            humanoid auto-mapper), humanik (same names unprefixed - Maya/MotionBuilder/FBX), unreal (UE
            mannequin), godot (SkeletonProfileHumanoid), rigify (Blender) or vroid (VRM). Purely a relabel
            - the skeleton is identical.'
          example: smpl
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    Rig3DModelResult:
      type: object
      properties:
        model_url:
          type: string
          description: URL to the rigged GLB (skeleton + skin weights baked in).
          example: <url>
        rigged:
          type: boolean
    ThreeDModelResult:
      type: object
      properties:
        model_url:
          type: string
          example: <url>
        snapshots:
          type: array
          items:
            type: string
        request_id:
          type: string
        created_at:
          type: integer
  securitySchemes:
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: |
        For accessing the API a valid API Key token must be passed in all the queries in
        the 'Authorization' header.
        The following syntax must be used in the 'Authorization' header: ApiKey xxxxxx.yyyyyyy.zzzzzz
