openapi: 3.1.0
info:
  title: Ludo.ai REST 3D Models Results API
  description: The Ludo.ai REST API provides programmatic access to AI-powered game asset generation capabilities. Developers can generate sprites, icons, UI assets, textures, and backgrounds through image generation endpoints, edit existing images with text instructions, convert 2D images to 3D GLB models with PBR textures, create animated spritesheets from static images, produce sound effects, music tracks, character voices, and generate short videos. All API requests require an API key passed via the Authentication header, and requests consume credits that vary by endpoint type. The API is currently in beta.
  version: 1.0.0
  contact:
    name: Ludo.ai Support
    url: https://ludo.ai
  termsOfService: https://ludo.ai/terms
servers:
- url: https://api.ludo.ai/api
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Results
  description: Retrieve previously generated assets using request IDs or browse recent API-generated content.
paths:
  /results/images:
    get:
      operationId: getImageResults
      summary: Ludo.ai Retrieve generated image results
      description: Retrieve recent API-generated images. Optionally filter by request ID. Returns up to 100 recent assets. Results are available for 7 days. Free endpoint that does not consume credits.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/RequestIdQuery'
      responses:
        '200':
          description: Successfully retrieved image results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResultsResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /results/sprites:
    get:
      operationId: getSpriteResults
      summary: Ludo.ai Retrieve generated spritesheet results
      description: Retrieve recent API-generated spritesheets. Optionally filter by request ID. Returns up to 100 recent assets. Results are available for 7 days. Free endpoint that does not consume credits.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/RequestIdQuery'
      responses:
        '200':
          description: Successfully retrieved sprite results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpriteResultsResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /results/videos:
    get:
      operationId: getVideoResults
      summary: Ludo.ai Retrieve generated video results
      description: Retrieve recent API-generated videos. Optionally filter by request ID. Returns up to 100 recent assets. Results are available for 7 days. Free endpoint that does not consume credits.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/RequestIdQuery'
      responses:
        '200':
          description: Successfully retrieved video results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResultsResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /results/audio:
    get:
      operationId: getAudioResults
      summary: Ludo.ai Retrieve generated audio results
      description: Retrieve recent API-generated audio files. Optionally filter by request ID. Returns up to 100 recent assets. Results are available for 7 days. Free endpoint that does not consume credits.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/RequestIdQuery'
      responses:
        '200':
          description: Successfully retrieved audio results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResultsResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /results/3d-models:
    get:
      operationId: get3DModelResults
      summary: Ludo.ai Retrieve generated 3D model results
      description: Retrieve recent API-generated 3D models. Optionally filter by request ID. Returns up to 100 recent assets. Results are available for 7 days. Free endpoint that does not consume credits.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/RequestIdQuery'
      responses:
        '200':
          description: Successfully retrieved 3D model results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model3DResultsResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Model3DResultsResponse:
      type: object
      properties:
        results:
          type: array
          description: Array of recent API-generated 3D model results.
          items:
            type: object
            properties:
              request_id:
                type: string
                description: The client-provided request ID.
              created_at:
                type: string
                format: date-time
                description: Timestamp when the 3D model was generated.
    SpriteResultsResponse:
      type: object
      properties:
        results:
          type: array
          description: Array of recent API-generated spritesheet results.
          items:
            type: object
            properties:
              request_id:
                type: string
                description: The client-provided request ID.
              created_at:
                type: string
                format: date-time
                description: Timestamp when the spritesheet was generated.
    ImageResultsResponse:
      type: object
      properties:
        results:
          type: array
          description: Array of recent API-generated image results.
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                description: URL of the generated image.
              request_id:
                type: string
                description: The client-provided request ID.
              created_at:
                type: string
                format: date-time
                description: Timestamp when the image was generated.
    AudioResultsResponse:
      type: object
      properties:
        results:
          type: array
          description: Array of recent API-generated audio results.
          items:
            type: object
            properties:
              request_id:
                type: string
                description: The client-provided request ID.
              created_at:
                type: string
                format: date-time
                description: Timestamp when the audio was generated.
    VideoResultsResponse:
      type: object
      properties:
        results:
          type: array
          description: Array of recent API-generated video results.
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                description: URL of the generated video.
              request_id:
                type: string
                description: The client-provided request ID.
              created_at:
                type: string
                format: date-time
                description: Timestamp when the video was generated.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message describing what went wrong.
        code:
          type: string
          description: Machine-readable error code.
  parameters:
    RequestIdQuery:
      name: request_id
      in: query
      required: false
      description: Filter results to a specific request by its client-provided request ID.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authentication
      description: 'API key authentication. Pass your API key in the Authentication header with the format: ApiKey YOUR_API_KEY'
externalDocs:
  description: Ludo.ai API Documentation
  url: https://api.ludo.ai/api-documentation
