# Split of openapi/_original/ludo-ai-rest-api-openapi.yml by tag (Spritesheets).
openapi: 3.0.0
info:
  version: 0.9.10
  title: Ludo.ai Sprite Animation API
  description: |-
    Animate sprites into spritesheets (text, presets, keyframes or motion transfer from a video), pose, rotate and edit spritesheets, and add audio to them.

    Part of the Ludo.ai public API. Full spec: https://api.ludo.ai/api-documentation/openapi.json
  x-logo:
    url: https://api.ludo.ai/static/logo-small.png
    altText: Logo
  x-model-lineup: 'Current models: hydra (Hydra) - Most capable all-around model, generates audio. forge
    (Forge) - Sharper detail, simpler motion. Best for simple body shapes and short actions; may need
    a few tries. forge-pixel (Forge Pixel) - Best for low-res pixel art animations. griffin (Griffin)
    - Fast cinematic videos in any style, with audio, 480p. griffin-hd (Griffin HD) - Same as Griffin,
    but in 720p. Per action - sprite animation: hydra, forge, forge-pixel; motion transfer: hydra, forge,
    forge-pixel; spritesheet editing: hydra, forge, forge-pixel; video generation: griffin, griffin-hd;
    references to video: griffin, griffin-hd; video editing: griffin-hd. LEGACY models, still accepted
    but scheduled for removal - do not use them for new work: blitz, eagle, eagle-audio, tango.'
  contact:
    name: Ludo.ai Support
    email: support@ludo.ai
    url: https://ludo.ai/contact
  termsOfService: https://ludo.ai/terms-of-service
externalDocs:
  description: API reference
  url: https://api.ludo.ai/api-documentation
servers:
- url: https://api.ludo.ai/api
  description: Production
tags:
- name: Spritesheets
paths:
  /assets/sprite/animate:
    post:
      summary: animateSprite
      tags:
      - Spritesheets
      operationId: animateSprite
      x-credit-action: ANIMATE_SPRITE
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnimateSpritePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpriteResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/animate" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"motion_prompt":"string","initial_image":"<url> OR data:image/png;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/animate", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "motion_prompt": "string",
              "initial_image": "<url> OR data:image/png;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/animate",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "motion_prompt": "string",
                "initial_image": "<url> OR data:image/png;base64,..."
              }
          )

          print(response.json())
      x-credit-description: 'This endpoint''s credit cost varies by model and duration (credits/s × seconds,
        rounded to 0.1; a model''s minimum charge applies when that product is lower). Available models:
        Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12,
        4.5s = 13.5, 5s = 15) · Forge (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4,
        1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Forge Pixel
        (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s
        = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Blitz (1.9 credits/s, minimum charge 4 credits
        per generation; 1.2s = 4, 1.5s = 4, 2s = 4, 2.5s = 4.8, 3s = 5.7, 3.5s = 6.7, 4s = 7.6) - LEGACY
        - scheduled for removal, do not use for new work · Eagle (2.6 credits/s, minimum charge 4 credits
        per generation; 1s = 4, 2s = 5.2, 3s = 7.8, 4s = 10.4) - LEGACY - scheduled for removal, do not
        use for new work · Eagle with Audio (3.1 credits/s, minimum charge 4 credits per generation; 1s
        = 4, 2s = 6.2, 3s = 9.3, 4s = 12.4) - LEGACY - scheduled for removal, do not use for new work'
      x-credit-summary: 'credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits
        minimum), Forge 1.5/s (min charge 4 credits), Forge Pixel 1.5/s (min charge 4 credits), Blitz
        1.9/s (min charge 4 credits) [LEGACY], Eagle 2.6/s (min charge 4 credits) [LEGACY], Eagle with
        Audio 3.1/s (min charge 4 credits) [LEGACY]; [LEGACY] models are scheduled for removal - do not
        use them for new work; see this endpoint''s full pricing table in the API docs'
      description: |-
        Animate a static sprite into a spritesheet driven by a motion text prompt (image-to-spritesheet): supply an initial_image (URL or base64) plus a motion_prompt like "walking" or "attack slash", and optionally a final_image to interpolate between a start and end frame. Describe the motion exactly and unambiguously, but do not over-describe it: an action the model already knows is one phrase, not a sequence of steps, and the character, art style, background and camera come from the image, not the prompt. For animations driven by up to three keyframes (including a middle frame), use animateSpriteKeyframes instead. The job result is a single sprite result: `spritesheet_url` (the sheet image), `video_url` (an mp4 of the animation - pass it as `video` to transferMotion or as `spritesheet_video_url` to createSpriteAudio; editSpritesheet takes `spritesheet_url`), `num_frames`/`num_cols`/`num_rows` (the grid layout), and, when requested, `gif_url`, `individual_frame_urls` and `spritesheet_with_background_url`. The hydra model also returns `audio_url`, a sound effect for the animation - there is no need to call createSpriteAudio afterwards; forge and forge-pixel produce no audio. The chosen model must support sprite animation and the duration must be valid for it; incompatible model/duration combinations return HTTP 400. Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Choosing a tool: animateSprite (this one) when you can describe the motion in text; transferMotion when you want an exact motion copied from a reference video or one of the named presets from listAnimationPresets (e.g. a standard walk or attack cycle); generatePose first when the source image is not yet in the pose the animation should start from. Omit `model` to run on hydra (the default) - see the `model` field for the per-model rates and the 4-credit minimum charge on forge/forge-pixel. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint's credit cost varies by model and duration (credits/s × seconds, rounded to 0.1; a model's minimum charge applies when that product is lower). Available models: Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12, 4.5s = 13.5, 5s = 15) · Forge (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Forge Pixel (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Blitz (1.9 credits/s, minimum charge 4 credits per generation; 1.2s = 4, 1.5s = 4, 2s = 4, 2.5s = 4.8, 3s = 5.7, 3.5s = 6.7, 4s = 7.6) - LEGACY - scheduled for removal, do not use for new work · Eagle (2.6 credits/s, minimum charge 4 credits per generation; 1s = 4, 2s = 5.2, 3s = 7.8, 4s = 10.4) - LEGACY - scheduled for removal, do not use for new work · Eagle with Audio (3.1 credits/s, minimum charge 4 credits per generation; 1s = 4, 2s = 6.2, 3s = 9.3, 4s = 12.4) - LEGACY - scheduled for removal, do not use for new work.
      x-mcp-description: |-
        Animate a static sprite into a spritesheet driven by a motion text prompt (image-to-spritesheet): supply an initial_image (URL or base64) plus a motion_prompt like "walking" or "attack slash", and optionally a final_image to interpolate between a start and end frame. Describe the motion exactly and unambiguously, but do not over-describe it: an action the model already knows is one phrase, not a sequence of steps, and the character, art style, background and camera come from the image, not the prompt. For animations driven by up to three keyframes (including a middle frame), use animateSpriteKeyframes instead. The job result is a single sprite result: `spritesheet_url` (the sheet image), `video_url` (an mp4 of the animation - pass it as `video` to transferMotion or as `spritesheet_video_url` to createSpriteAudio; editSpritesheet takes `spritesheet_url`), `num_frames`/`num_cols`/`num_rows` (the grid layout), and, when requested, `gif_url`, `individual_frame_urls` and `spritesheet_with_background_url`. The hydra model also returns `audio_url`, a sound effect for the animation - there is no need to call createSpriteAudio afterwards; forge and forge-pixel produce no audio. The chosen model must support sprite animation and the duration must be valid for it; incompatible model/duration combinations return HTTP 400. Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Choosing a tool: animateSprite (this one) when you can describe the motion in text; transferMotion when you want an exact motion copied from a reference video or one of the named presets from listAnimationPresets (e.g. a standard walk or attack cycle); generatePose first when the source image is not yet in the pose the animation should start from. Omit `model` to run on hydra (the default) - see the `model` field for the per-model rates and the 4-credit minimum charge on forge/forge-pixel. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits minimum), Forge 1.5/s (min charge 4 credits), Forge Pixel 1.5/s (min charge 4 credits), Blitz 1.9/s (min charge 4 credits) [LEGACY], Eagle 2.6/s (min charge 4 credits) [LEGACY], Eagle with Audio 3.1/s (min charge 4 credits) [LEGACY]; [LEGACY] models are scheduled for removal - do not use them for new work; see this endpoint's full pricing table in the API docs.
  /assets/sprite/animate-keyframes:
    post:
      summary: animateSpriteKeyframes
      tags:
      - Spritesheets
      operationId: animateSpriteKeyframes
      x-credit-action: ANIMATE_SPRITE
      x-credit-models:
      - hydra
      - forge
      - forge-pixel
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnimateSpriteKeyframesPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpriteResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/animate-keyframes" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"motion_prompt":"string","initial_image":"<url> OR data:image/png;base64,...","middle_image":"<url> OR data:image/png;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/animate-keyframes", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "motion_prompt": "string",
              "initial_image": "<url> OR data:image/png;base64,...",
              "middle_image": "<url> OR data:image/png;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/animate-keyframes",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "motion_prompt": "string",
                "initial_image": "<url> OR data:image/png;base64,...",
                "middle_image": "<url> OR data:image/png;base64,..."
              }
          )

          print(response.json())
      x-credit-description: 'This endpoint''s credit cost varies by model and duration (credits/s × seconds,
        rounded to 0.1; a model''s minimum charge applies when that product is lower). Available models:
        Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12,
        4.5s = 13.5, 5s = 15) · Forge (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4,
        1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Forge Pixel
        (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s
        = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5)'
      x-credit-summary: 'credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits
        minimum), Forge 1.5/s (min charge 4 credits), Forge Pixel 1.5/s (min charge 4 credits); see this
        endpoint''s full pricing table in the API docs'
      description: |-
        Animate a sprite through up to three fixed keyframes - initial_image, middle_image and final_image (each a URL or base64) - producing a spritesheet that interpolates through the provided frames in order. At least one of initial_image or middle_image is required (a final_image alone has nothing to anchor the animation); any keyframe may be omitted. The motion_prompt is optional here - when omitted, the motion is derived purely from the keyframes. Runs on hydra (default; also returns `audio_url`), forge, or forge-pixel for pixel-art sprites - the models that support a middle keyframe; any other model returns HTTP 400. For just a start and end frame, animateSprite with `final_image` does the same job. The job result is the same sprite result as animateSprite (`spritesheet_url`, `video_url`, grid fields, optional GIF and frame URLs, `audio_url` on hydra). Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Use animateSprite instead for the classic single-image + text-prompt animation. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint's credit cost varies by model and duration (credits/s × seconds, rounded to 0.1; a model's minimum charge applies when that product is lower). Available models: Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12, 4.5s = 13.5, 5s = 15) · Forge (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5) · Forge Pixel (1.5 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 4, 3s = 4.5, 3.5s = 5.3, 4s = 6, 4.5s = 6.8, 5s = 7.5).
      x-mcp-description: |-
        Animate a sprite through up to three fixed keyframes - initial_image, middle_image and final_image (each a URL or base64) - producing a spritesheet that interpolates through the provided frames in order. At least one of initial_image or middle_image is required (a final_image alone has nothing to anchor the animation); any keyframe may be omitted. The motion_prompt is optional here - when omitted, the motion is derived purely from the keyframes. Runs on hydra (default; also returns `audio_url`), forge, or forge-pixel for pixel-art sprites - the models that support a middle keyframe; any other model returns HTTP 400. For just a start and end frame, animateSprite with `final_image` does the same job. The job result is the same sprite result as animateSprite (`spritesheet_url`, `video_url`, grid fields, optional GIF and frame URLs, `audio_url` on hydra). Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Use animateSprite instead for the classic single-image + text-prompt animation. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits minimum), Forge 1.5/s (min charge 4 credits), Forge Pixel 1.5/s (min charge 4 credits); see this endpoint's full pricing table in the API docs.
  /assets/sprite/pose:
    post:
      summary: generatePose
      tags:
      - Spritesheets
      operationId: generatePose
      x-credit-action: GENERATE_IMAGE
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePosePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PoseResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/pose" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"image":"<url> OR data:image/png;base64,...","pose":"Idle (Front)"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/pose", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "image": "<url> OR data:image/png;base64,...",
              "pose": "Idle (Front)"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/pose",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "image": "<url> OR data:image/png;base64,...",
                "pose": "Idle (Front)"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 0.5 credits per result
      x-credit-summary: This endpoint consumes 0.5 credits per result
      description: |-
        Re-pose an existing sprite into a new target pose while preserving the character, taking a source image (URL or base64), a pose name (or "Other" with a free-text description), and an optional n (1-4) for how many variations to produce. Only works with sprite image types (not icons, screenshots, etc.). The job result is an array of pose results, each containing the generated image url, the pose and description used, and a suggested motion_prompt tuned for that pose. Credits are held when the job is accepted and refunded if it fails or is cancelled; the charge scales with the number of images generated. This is typically the first step before animating: call generatePose to set the character's pose, then feed the result (and its suggested motion_prompt) into animateSprite for the best animation quality; use rotateSprite instead when you want to change the camera angle rather than the pose. Pass an optional request_id to tag the results so you can locate them later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 0.5 credits per result.
      x-mcp-description: |-
        Re-pose an existing sprite into a new target pose while preserving the character, taking a source image (URL or base64), a pose name (or "Other" with a free-text description), and an optional n (1-4) for how many variations to produce. Only works with sprite image types (not icons, screenshots, etc.). The job result is an array of pose results, each containing the generated image url, the pose and description used, and a suggested motion_prompt tuned for that pose. Credits are held when the job is accepted and refunded if it fails or is cancelled; the charge scales with the number of images generated. This is typically the first step before animating: call generatePose to set the character's pose, then feed the result (and its suggested motion_prompt) into animateSprite for the best animation quality; use rotateSprite instead when you want to change the camera angle rather than the pose. Pass an optional request_id to tag the results so you can locate them later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 0.5 credits per result.
  /assets/sprite/rotate:
    post:
      summary: rotateSprite
      tags:
      - Spritesheets
      operationId: rotateSprite
      x-credit-action: GENERATE_IMAGE
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateSpritePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RotateSpriteResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/rotate" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"image":"<url> OR data:image/png;base64,...","camera_rotation":0}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/rotate", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "image": "<url> OR data:image/png;base64,...",
              "camera_rotation": 0
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/rotate",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "image": "<url> OR data:image/png;base64,...",
                "camera_rotation": 0
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 0.5 credits per result
      x-credit-summary: This endpoint consumes 0.5 credits per result
      description: |-
        Re-render an existing sprite from a different camera viewpoint while keeping the same character and pose, taking a source image (URL or base64), a required camera_rotation azimuth (one of 0, 45, 90, 135, 180, -135, -90, -45 degrees), an optional camera_elevation (0, 30, or 60 degrees; omit to keep the current elevation), and an optional n (1-4) for the number of variations. Only works with sprite image types (not icons, screenshots, etc.). The job result is an array of rotate-sprite results, each with the generated image url and the camera_rotation and camera_elevation that were applied. Credits are held when the job is accepted and refunded if it fails or is cancelled; the charge scales with the number of images generated. Use this to produce alternate view angles of a character; use generatePose instead to change the character's pose rather than the camera, and animateSprite or transferMotion to bring a sprite to life. Pass an optional request_id to tag the results so you can retrieve them later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 0.5 credits per result.
      x-mcp-description: |-
        Re-render an existing sprite from a different camera viewpoint while keeping the same character and pose, taking a source image (URL or base64), a required camera_rotation azimuth (one of 0, 45, 90, 135, 180, -135, -90, -45 degrees), an optional camera_elevation (0, 30, or 60 degrees; omit to keep the current elevation), and an optional n (1-4) for the number of variations. Only works with sprite image types (not icons, screenshots, etc.). The job result is an array of rotate-sprite results, each with the generated image url and the camera_rotation and camera_elevation that were applied. Credits are held when the job is accepted and refunded if it fails or is cancelled; the charge scales with the number of images generated. Use this to produce alternate view angles of a character; use generatePose instead to change the character's pose rather than the camera, and animateSprite or transferMotion to bring a sprite to life. Pass an optional request_id to tag the results so you can retrieve them later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 0.5 credits per result.
  /assets/sprite/transfer-motion:
    post:
      summary: transferMotion
      tags:
      - Spritesheets
      operationId: transferMotion
      x-credit-action: TRANSFER_SPRITE_MOTION
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferMotionPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpriteResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/transfer-motion" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"image":"<url> OR data:image/png;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/transfer-motion", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "image": "<url> OR data:image/png;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/transfer-motion",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "image": "<url> OR data:image/png;base64,..."
              }
          )

          print(response.json())
      x-credit-description: 'This endpoint''s credit cost varies by model and duration (credits/s × seconds,
        rounded to 0.1; a model''s minimum charge applies when that product is lower). Available models:
        Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12,
        4.5s = 13.5, 5s = 15) · Forge (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s
        = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10) · Forge Pixel (2 credits/s,
        minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7,
        4s = 8, 4.5s = 9, 5s = 10) · Tango (4 credits/s, minimum charge 4 credits per generation; 1s =
        4, 1.5s = 6, 2s = 8, 2.5s = 10, 3s = 12, 3.5s = 14, 4s = 16) - LEGACY - scheduled for removal,
        do not use for new work'
      x-credit-summary: 'credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits
        minimum), Forge 2/s (min charge 4 credits), Forge Pixel 2/s (min charge 4 credits), Tango 4/s
        (min charge 4 credits) [LEGACY]; [LEGACY] models are scheduled for removal - do not use them for
        new work; see this endpoint''s full pricing table in the API docs'
      description: |-
        Transfer motion from a reference video or a named animation preset onto a static sprite image, producing an animated spritesheet that mimics the reference movement. Provide the sprite as image (URL or base64) plus either a video URL or a preset_id together with perspective and direction (all three from listAnimationPresets; if both video and preset_id are sent the video wins). The job result is the same sprite result as animateSprite: `spritesheet_url`, `video_url`, grid fields, optional GIF / frame / with-background URLs, and `audio_url` when the model is hydra. `duration` defaults to 1.5s where the chosen model offers it, otherwise to that model's shortest (hydra, the default, starts at 3s) - and a longer reference clip or preset is compressed to fit, so pass the preset's own `duration` (returned by listAnimationPresets) to keep its timing. It returns HTTP 400 if neither a video nor a complete preset_id/perspective/direction triple is supplied, if the named preset, perspective, or direction cannot be resolved, or if the model/duration combination is invalid. Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Use this when you have an existing motion clip or preset to copy; prefer animateSprite to generate animation purely from a text prompt. Omit `model` to run on hydra (the default - most capable, and returns audio); pick forge for a cheaper run on simple motion, presets and matching poses; the `model` field lists rates. Pass an optional request_id to tag the result so you can retrieve it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint's credit cost varies by model and duration (credits/s × seconds, rounded to 0.1; a model's minimum charge applies when that product is lower). Available models: Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12, 4.5s = 13.5, 5s = 15) · Forge (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10) · Forge Pixel (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10) · Tango (4 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 6, 2s = 8, 2.5s = 10, 3s = 12, 3.5s = 14, 4s = 16) - LEGACY - scheduled for removal, do not use for new work.
      x-mcp-description: |-
        Transfer motion from a reference video or a named animation preset onto a static sprite image, producing an animated spritesheet that mimics the reference movement. Provide the sprite as image (URL or base64) plus either a video URL or a preset_id together with perspective and direction (all three from listAnimationPresets; if both video and preset_id are sent the video wins). The job result is the same sprite result as animateSprite: `spritesheet_url`, `video_url`, grid fields, optional GIF / frame / with-background URLs, and `audio_url` when the model is hydra. `duration` defaults to 1.5s where the chosen model offers it, otherwise to that model's shortest (hydra, the default, starts at 3s) - and a longer reference clip or preset is compressed to fit, so pass the preset's own `duration` (returned by listAnimationPresets) to keep its timing. It returns HTTP 400 if neither a video nor a complete preset_id/perspective/direction triple is supplied, if the named preset, perspective, or direction cannot be resolved, or if the model/duration combination is invalid. Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Use this when you have an existing motion clip or preset to copy; prefer animateSprite to generate animation purely from a text prompt. Omit `model` to run on hydra (the default - most capable, and returns audio); pick forge for a cheaper run on simple motion, presets and matching poses; the `model` field lists rates. Pass an optional request_id to tag the result so you can retrieve it later via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits minimum), Forge 2/s (min charge 4 credits), Forge Pixel 2/s (min charge 4 credits), Tango 4/s (min charge 4 credits) [LEGACY]; [LEGACY] models are scheduled for removal - do not use them for new work; see this endpoint's full pricing table in the API docs.
  /assets/sprite/animation-presets:
    get:
      description: 'List the available animation presets along with their perspectives and the eight supported
        compass directions (N, NE, E, SE, S, SW, W, NW). Synchronous GET with no request body: it returns
        an animations array (each with id, name, category, description, duration, preview_url, and - when
        the preset can be retargeted onto a rigged 3D model - clip_url), a deduplicated perspectives array,
        and the directions list. This is a free discovery endpoint and does not charge credits. Use it
        to obtain the preset_id, perspective, and direction values that transferMotion needs, and to find
        motion preset names you can reference when animating; pair it with transferMotion (to apply a
        preset onto a sprite), animateSprite (text-prompt animation), or animate3DModelPreset (apply a
        clip_url-backed preset to a rigged 3D model). Requires an API key (user scope).'
      tags:
      - Spritesheets
      operationId: listAnimationPresets
      security:
      - ApiKey: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimationPresetsResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/sprite/animation-presets" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/animation-presets", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/sprite/animation-presets",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
  /assets/sprite/edit:
    post:
      summary: editSpritesheet
      tags:
      - Spritesheets
      operationId: editSpritesheet
      x-credit-action: EDIT_SPRITESHEET
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSpritesheetPayloadPublic'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpriteResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/edit" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"spritesheet_url":"<url>"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/edit", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "spritesheet_url": "<url>"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/edit",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "spritesheet_url": "<url>"
              }
          )

          print(response.json())
      x-credit-description: 'This endpoint''s credit cost varies by model and duration (credits/s × seconds,
        rounded to 0.1; a model''s minimum charge applies when that product is lower). Available models:
        Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12,
        4.5s = 13.5, 5s = 15) · Forge (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s
        = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10) · Forge Pixel (2 credits/s,
        minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7,
        4s = 8, 4.5s = 9, 5s = 10). edit_mode "fix_loop" / "outpaint": flat 1 credit per second of output,
        no minimum, model ignored; edit_mode "prompt": per model as listed'
      x-credit-summary: 'edit_mode "fix_loop" / "outpaint": flat 1 credit per second of output, no minimum,
        model ignored; edit_mode "prompt": per model as listed - credits/s × seconds, per model: Hydra
        3/s (shortest duration 3s, so 9 credits minimum), Forge 2/s (min charge 4 credits), Forge Pixel
        2/s (min charge 4 credits); see this endpoint''s full pricing table in the API docs'
      description: |-
        Edit a previously generated spritesheet: re-prompt its underlying animation (edit_mode "prompt"), extend the frame beyond its borders ("outpaint"), or repair a bad loop ("fix_loop"). Pass the `spritesheet_url` you received from `animateSprite`, `animateSpriteKeyframes`, `transferMotion`, or an earlier edit - it must be a spritesheet you generated within the last 7 days; arbitrary external images are not accepted. Omit `duration`, `frames`, `frame_size`, `crop` and `model` to keep the source spritesheet's values. A `prompt` is required for edit_mode "prompt", optional for "outpaint", and not accepted for "fix_loop"; optionally add up to 5 reference `images` (URL or base64) to guide the edit. The job result is the same result shape as animateSprite (spritesheet URL, frame layout, optional GIF or individual frames). Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Prompt edits are priced per model (credits/second × duration); "outpaint" and "fix_loop" run a lighter pipeline in which `model` is ignored and are billed at a flat 1 credit per second of the output duration (the source spritesheet's duration unless you pass one). Outpaint decides the extra margin itself - there is no amount parameter. The result carries the same fields as animateSprite (`spritesheet_url`, `video_url`, grid fields); audio is generated only by prompt edits on hydra, so a fix on a hydra sheet comes back without `audio_url`. Pass an optional `request_id` to tag the result for later retrieval via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint's credit cost varies by model and duration (credits/s × seconds, rounded to 0.1; a model's minimum charge applies when that product is lower). Available models: Hydra (3 credits/s, shortest duration 3s, so 9 credits minimum; 3s = 9, 3.5s = 10.5, 4s = 12, 4.5s = 13.5, 5s = 15) · Forge (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10) · Forge Pixel (2 credits/s, minimum charge 4 credits per generation; 1s = 4, 1.5s = 4, 2s = 4, 2.5s = 5, 3s = 6, 3.5s = 7, 4s = 8, 4.5s = 9, 5s = 10). edit_mode "fix_loop" / "outpaint": flat 1 credit per second of output, no minimum, model ignored; edit_mode "prompt": per model as listed.
      x-mcp-description: |-
        Edit a previously generated spritesheet: re-prompt its underlying animation (edit_mode "prompt"), extend the frame beyond its borders ("outpaint"), or repair a bad loop ("fix_loop"). Pass the `spritesheet_url` you received from `animateSprite`, `animateSpriteKeyframes`, `transferMotion`, or an earlier edit - it must be a spritesheet you generated within the last 7 days; arbitrary external images are not accepted. Omit `duration`, `frames`, `frame_size`, `crop` and `model` to keep the source spritesheet's values. A `prompt` is required for edit_mode "prompt", optional for "outpaint", and not accepted for "fix_loop"; optionally add up to 5 reference `images` (URL or base64) to guide the edit. The job result is the same result shape as animateSprite (spritesheet URL, frame layout, optional GIF or individual frames). Credits are held when the job is accepted and the charge is for the duration you requested (rate × duration, or the model's minimum charge if higher), even though the returned sheet is trimmed to its best loop and usually runs slightly shorter; everything is refunded if the job fails or is cancelled. Prompt edits are priced per model (credits/second × duration); "outpaint" and "fix_loop" run a lighter pipeline in which `model` is ignored and are billed at a flat 1 credit per second of the output duration (the source spritesheet's duration unless you pass one). Outpaint decides the extra margin itself - there is no amount parameter. The result carries the same fields as animateSprite (`spritesheet_url`, `video_url`, grid fields); audio is generated only by prompt edits on hydra, so a fix on a hydra sheet comes back without `audio_url`. Pass an optional `request_id` to tag the result for later retrieval via listGenerations (type spritesheet). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: edit_mode "fix_loop" / "outpaint": flat 1 credit per second of output, no minimum, model ignored; edit_mode "prompt": per model as listed - credits/s × seconds, per model: Hydra 3/s (shortest duration 3s, so 9 credits minimum), Forge 2/s (min charge 4 credits), Forge Pixel 2/s (min charge 4 credits); see this endpoint's full pricing table in the API docs.
  /assets/sprite/audio:
    post:
      summary: createSpriteAudio
      tags:
      - Spritesheets
      operationId: createSpriteAudio
      x-credit-action: GENERATE_AUDIO_FOR_SPRITES
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpriteAudioPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/assets/sprite/audio" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"spritesheet_video_url":"<url>"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprite/audio", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "spritesheet_video_url": "<url>"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/assets/sprite/audio",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "spritesheet_video_url": "<url>"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 3 credits per call
      x-credit-summary: This endpoint consumes 3 credits per call
      description: |-
        Generate a sound effect for a previously generated spritesheet animation. Pass, as `spritesheet_video_url`, the `video_url` you received from `animateSprite`, `animateSpriteKeyframes`, `transferMotion`, or `editSpritesheet` - it must belong to a spritesheet you generated within the last 7 days; arbitrary external videos are not accepted. Spritesheets generated with the hydra model already come with `audio_url`, so only call this for forge / forge-pixel output or to replace hydra's sound. Optionally add a `prompt` describing the sound you want. The job result is the URL of the generated audio file only; no video is returned. The audio is also attached to the spritesheet, so it appears as `audio_url` in listGenerations (type spritesheet), where the spritesheet keeps the `request_id` it was generated with. Pass an optional `request_id` to make this call idempotent and to find its job again; it must not be one you already used for another generation. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 3 credits per call.
      x-mcp-description: |-
        Generate a sound effect for a previously generated spritesheet animation. Pass, as `spritesheet_video_url`, the `video_url` you received from `animateSprite`, `animateSpriteKeyframes`, `transferMotion`, or `editSpritesheet` - it must belong to a spritesheet you generated within the last 7 days; arbitrary external videos are not accepted. Spritesheets generated with the hydra model already come with `audio_url`, so only call this for forge / forge-pixel output or to replace hydra's sound. Optionally add a `prompt` describing the sound you want. The job result is the URL of the generated audio file only; no video is returned. The audio is also attached to the spritesheet, so it appears as `audio_url` in listGenerations (type spritesheet), where the spritesheet keeps the `request_id` it was generated with. Pass an optional `request_id` to make this call idempotent and to find its job again; it must not be one you already used for another generation. Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 3 credits per call.
  /assets/sprites/results:
    get:
      description: |-
        **Deprecated:** prefer `GET /assets/generations` (all types, paginated, same source filter). This endpoint continues to work; no removal is scheduled.
        List spritesheets you previously generated through the API, most recent first. This is a free read-only history lookup (no credits, no generation); it does not create anything. Pass an optional request_id query parameter to return only the results tagged with that id when you originally called animateSprite or transferMotion. Requires an API key (user scope).
      tags:
      - Spritesheets
      operationId: getSpriteResults
      deprecated: true
      x-mcp-exclude: true
      security:
      - ApiKey: []
      parameters:
      - name: request_id
        in: query
        description: Filter results by request_id
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: 'Which surface the results were generated from: api (default, your API/MCP generations
          from the last 7 days), web (your Ludo web studio generations, no time limit), or all'
        required: false
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: api
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpriteResult'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/sprites/results" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/sprites/results", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/sprites/results",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
components:
  schemas:
    AnimateSpriteKeyframesPayload:
      type: object
      description: Payload for generating an animated spritesheet that interpolates through up to three
        fixed keyframes (initial / middle / final). Runs on hydra (default), forge or forge-pixel - the
        models supporting a middle keyframe. Input images can be provided in base64 or URL. At least one
        of initial_image or middle_image must be provided.
      properties:
        motion_prompt:
          type: string
          description: 'Optional text description of the desired animation, e.g. "walking", "attack slash".
            When omitted, the motion is derived purely from the keyframes. When provided, describe exactly
            and unambiguously what the character should do. Specific or complex actions are fine; there
            is no need to simplify them. Do not over-describe, though: too much detail can harm the animation,
            and an action the model already knows should be named, not decomposed into its steps ("walking",
            never "move the left foot forward, then the right foot"). Do not restate what the keyframes
            already show (the character, its appearance and equipment, the art style, the background,
            the lighting, the camera), and leave frame count and timing to the frames and duration fields.
            Negative phrasing ("no background", "do not move the camera", "without a weapon") works only
            on hydra. On forge and forge-pixel it backfires: naming something you do not want makes it
            more likely to appear, so "without a weapon" tends to produce a weapon. On those models never
            phrase anything negatively; state only what should happen, and control everything else through
            the keyframes and the other fields.'
        initial_image:
          type: string
          description: The url OR base64 of the first keyframe. Optional when a middle_image is provided.
          example: <url> OR data:image/png;base64,...
        middle_image:
          type: string
          description: The url OR base64 of the middle keyframe the animation passes through between the
            initial and final frames.
          example: <url> OR data:image/png;base64,...
        final_image:
          type: string
          description: The url OR base64 of the final keyframe. Requires an initial_image or middle_image
            to anchor the animation.
          example: <url> OR data:image/png;base64,...
        model:
          type: string
          description: |-
            Model to use. Available models:
            - "hydra" (Hydra): 3 credits/s, shortest duration 3s, so 9 credits minimum · Most capable all-around model, generates audio
            - "forge" (Forge): 1.5 credits/s, min charge 4 credits · Sharper detail, simpler motion. Best for simple body shapes and short actions; may need a few tries
            - "forge-pixel" (Forge Pixel): 1.5 credits/s, min charge 4 credits · Best for low-res pixel art animations
          enum:
          - hydra
          - forge
          - forge-pixel
          default: hydra
          example: hydra
        loop:
          type: boolean
          default: true
          description: Trim the animation at the beginning or end to create a seamless loop. Not guaranteed
            to produce a perfect loop.
          example: true
        crop:
          type: boolean
          default: true
          description: Crop sprite frames to fit content. Results in smaller spritesheets but inconsistent
            frame sizes across different animations.
          example: true
        frames:
          type: number
          format: integer
          description: Number of frames in the output spritesheet.
          default: 36
          enum:
          - 4
          - 9
          - 16
          - 25
          - 36
          - 49
          - 64
          example: 36
        frame_size:
          type: number
          format: integer
          description: Size of each frame in pixels (width and height). 0 is for maximum resolution. -1
            is for AI 1.5x upscaling. -9 is for matching the size and position of the input frame.
          default: 0
          enum:
          - 32
          - 64
          - 96
          - 128
          - 192
          - 256
          - 384
          - 0
          - -1
          - -9
          example: 0
        margin_ratio:
          type: number
          format: float
          description: 'Deprecated: prefer margin_ratio_horizontal / margin_ratio_vertical. Amount of
            padding around the sprite as a ratio (0.0 to 1.0). Sets both axes to this value. A per-axis
            value, when also given, overrides this for that axis. Supplying any margin value selects margin_ratio_mode
            "manual" unless margin_ratio_mode is set explicitly.'
          deprecated: true
        margin_ratio_horizontal:
          type: number
          format: float
          description: Horizontal padding around the sprite as a ratio (0.0 to 1.0). Useful for animations
            that extend sideways (e.g., sword slashes, punches). Supplying a value selects margin_ratio_mode
            "manual" unless margin_ratio_mode is set explicitly; overrides the legacy margin_ratio on
            this axis.
        margin_ratio_vertical:
          type: number
          format: float
          description: Vertical padding around the sprite as a ratio (0.0 to 1.0). Useful for animations
            that extend up or down (e.g., jumps). Supplying a value selects margin_ratio_mode "manual"
            unless margin_ratio_mode is set explicitly; overrides the legacy margin_ratio on this axis.
        margin_ratio_mode:
          type: string
          description: Controls how margins are applied around the sprite. Omit it and send margin_ratio_horizontal
            / margin_ratio_vertical to get "manual" automatically. "manual" requires margin_ratio_horizontal
            and/or margin_ratio_vertical (or the legacy margin_ratio); sending "manual" with no margin
            value fails with HTTP 400. Sending "auto" or "none" explicitly together with a margin value
            fails with HTTP 400 (the value would be ignored).
          enum:
          - auto
          - manual
          - none
          default: auto
          example: auto
        image_type:
          type: string
          description: Type of sprite being animated. Affects generation parameters and styling.
          default: sprite
          enum:
          - sprite
          - sprite-vfx
          - item-icon
          - ui_asset
          - logo
          - sprite-tiling-horizontal
          - sprite-tiling-vertical
          - parallax_layer
          - tile
          - texture
          - portrait
          - card-art
          example: sprite
        duration:
          type: number
          format: float
          default: 3
          description: |-
            Duration in seconds. Available values depend on the model:
            - hydra: 3, 3.5, 4, 4.5, 5
            - forge: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
            - forge-pixel: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
          example: 3
        augment_prompt:
          type: boolean
          default: true
          description: 'Augment the prompt behind the scenes. Disable to have more control. Incompatible
            with automatic framing: false requires margin_ratio_mode "manual" (with margin_ratio_horizontal
            and/or margin_ratio_vertical) or "none". Because margin_ratio_mode defaults to "auto", sending
            augment_prompt false on its own fails with HTTP 400.'
          example: true
        gif:
          type: boolean
          default: false
          description: When true, generates an animated GIF from the spritesheet and returns it in gif_url.
            Disabled by default to reduce response time.
          example: false
        individual_frames:
          type: boolean
          default: false
          description: When true, extracts each frame from the spritesheet as an individual image and
            returns the URLs in individual_frame_urls.
          example: false
        spritesheet_with_background:
          type: boolean
          default: false
          description: When true, also returns the spritesheet with background intact (before background
            removal). Useful for manually fixing background removal issues. The with-background spritesheet
            URL will be in spritesheet_with_background_url.
          example: false
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    AnimateSpritePayload:
      type: object
      description: Payload for generating an animated spritesheet from a static image. Input images can
        either be provided in base64 or URL. If the image was generated using Ludo, ideally it should
        be generated using the "sprite", "sprite-vfx" or "ui_asset" type.
      required:
      - motion_prompt
      - initial_image
      properties:
        motion_prompt:
          type: string
          description: 'Text description of the desired animation, e.g. "walking", "idle breathing", "attack
            slash", "casting a fireball with both hands". Describe exactly and unambiguously what the
            character should do. Specific or complex actions are fine; there is no need to simplify them.
            Do not over-describe, though: too much detail can harm the animation, and an action the model
            already knows should be named, not decomposed into its steps ("walking", never "move the left
            foot forward, then the right foot"). Do not restate what initial_image already shows (the
            character, its appearance and equipment, the art style, the background, the lighting, the
            camera), and leave frame count and timing to the frames and duration fields. Negative phrasing
            ("no background", "do not move the camera", "without a weapon") works only on hydra. On forge,
            forge-pixel and the legacy models it backfires: naming something you do not want makes it
            more likely to appear, so "without a weapon" tends to produce a weapon. On those models never
            phrase anything negatively; state only what should happen, and control everything else through
            the image and the other fields.'
        initial_image:
          type: string
          description: The url OR base64 of the starting frame image to animate. This is the base sprite
            that will be brought to life.
          example: <url> OR data:image/png;base64,...
        final_image:
          type: string
          description: The url OR base64 of ending frame image. When provided, the animation will interpolate
            between the initial and final frames.
          example: <url> OR data:image/png;base64,...
        loop:
          type: boolean
          default: true
          description: Trim the animation at the beginning or end to create a seamless loop. Not guaranteed
            to produce a perfect loop.
          example: true
        crop:
          type: boolean
          default: true
          description: Crop sprite frames to fit content. Results in smaller spritesheets but inconsistent
            frame sizes across different animations.
          example: true
        frames:
          type: number
          format: integer
          description: Number of frames in the output spritesheet.
          default: 36
          enum:
          - 4
          - 9
          - 16
          - 25
          - 36
          - 49
          - 64
          example: 36
        frame_size:
          type: number
          format: integer
          description: Size of each frame in pixels (width and height). 0 is for maximum resolution. -1
            is for AI 1.5x upscaling. -9 is for matching the size and position of the input frame.
          default: 0
          enum:
          - 32
          - 64
          - 96
          - 128
          - 192
          - 256
          - 384
          - 0
          - -1
          - -9
          example: 0
        margin_ratio:
          type: number
          format: float
          description: 'Deprecated: prefer margin_ratio_horizontal / margin_ratio_vertical. Amount of
            padding around the sprite as a ratio (0.0 to 1.0). Sets both axes to this value. A per-axis
            value, when also given, overrides this for that axis. Supplying any margin value selects margin_ratio_mode
            "manual" unless margin_ratio_mode is set explicitly.'
          deprecated: true
        margin_ratio_horizontal:
          type: number
          format: float
          description: Horizontal padding around the sprite as a ratio (0.0 to 1.0). Useful for animations
            that extend sideways (e.g., sword slashes, punches). Supplying a value selects margin_ratio_mode
            "manual" unless margin_ratio_mode is set explicitly; overrides the legacy margin_ratio on
            this axis.
        margin_ratio_vertical:
          type: number
          format: float
          description: Vertical padding around the sprite as a ratio (0.0 to 1.0). Useful for animations
            that extend up or down (e.g., jumps). Supplying a value selects margin_ratio_mode "manual"
            unless margin_ratio_mode is set explicitly; overrides the legacy margin_ratio on this axis.
        margin_ratio_mode:
          type: string
          description: Controls how margins are applied around the sprite. Omit it and send margin_ratio_horizontal
            / margin_ratio_vertical to get "manual" automatically. "manual" requires margin_ratio_horizontal
            and/or margin_ratio_vertical (or the legacy margin_ratio); sending "manual" with no margin
            value fails with HTTP 400. Sending "auto" or "none" explicitly together with a margin value
            fails with HTTP 400 (the value would be ignored).
          enum:
          - auto
          - manual
          - none
          default: auto
          example: auto
        image_type:
          type: string
          description: Type of sprite being animated. Affects generation parameters and styling.
          default: sprite
          enum:
          - sprite
          - sprite-vfx
          - item-icon
          - ui_asset
          - logo
          - sprite-tiling-horizontal
          - sprite-tiling-vertical
          - parallax_layer
          - tile
          - texture
          - portrait
          - card-art
          example: sprite
        model:
          type: string
          description: |-
            Model to use. Available models:
            - "hydra" (Hydra): 3 credits/s, shortest duration 3s, so 9 credits minimum · Most capable all-around model, generates audio
            - "forge" (Forge): 1.5 credits/s, min charge 4 credits · Sharper detail, simpler motion. Best for simple body shapes and short actions; may need a few tries
            - "forge-pixel" (Forge Pixel): 1.5 credits/s, min charge 4 credits · Best for low-res pixel art animations
            - "blitz" (Blitz): 1.9 credits/s, min charge 4 credits · LEGACY - scheduled for removal, do not use for new work
            - "eagle" (Eagle): 2.6 credits/s, min charge 4 credits · LEGACY - scheduled for removal, do not use for new work
            - "eagle-audio" (Eagle with Audio): 3.1 credits/s, min charge 4 credits · LEGACY - scheduled for removal, do not use for new work
            Legacy aliases: "standard" → blitz.
            Models marked LEGACY still work for existing integrations but will be removed; pick a current model for anything new.
          enum:
          - hydra
          - forge
          - forge-pixel
          - blitz
          - standard
          - eagle
          - eagle-audio
          default: hydra
          example: hydra
        duration:
          type: number
          format: float
          default: 3
          description: |-
            Duration in seconds. Available values depend on the model:
            - hydra: 3, 3.5, 4, 4.5, 5
            - forge: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
            - forge-pixel: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
            - blitz: 1.2, 1.5, 2, 2.5, 3, 3.5, 4
            - eagle: 1, 2, 3, 4
            - eagle-audio: 1, 2, 3, 4
          example: 3
        augment_prompt:
          type: boolean
          default: true
          description: 'Augment the prompt behind the scenes. Disable to have more control. Incompatible
            with automatic framing: false requires margin_ratio_mode "manual" (with margin_ratio_horizontal
            and/or margin_ratio_vertical) or "none". Because margin_ratio_mode defaults to "auto", sending
            augment_prompt false on its own fails with HTTP 400.'
          example: true
        gif:
          type: boolean
          default: false
          description: When true, generates an animated GIF from the spritesheet and returns it in gif_url.
            Disabled by default to reduce response time.
          example: false
        individual_frames:
          type: boolean
          default: false
          description: When true, extracts each frame from the spritesheet as an individual image and
            returns the URLs in individual_frame_urls.
          example: false
        spritesheet_with_background:
          type: boolean
          default: false
          description: When true, also returns the spritesheet with background intact (before background
            removal). Useful for manually fixing background removal issues. The with-background spritesheet
            URL will be in spritesheet_with_background_url.
          example: false
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    AnimationPerspective:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    AnimationPresetPublic:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        duration:
          type: number
          format: float
        preview_url:
          type: string
          example: <url>
        clip_url:
          type: string
          description: Motion clip backing the preset. Present only for presets that can be retargeted
            onto a rigged 3D model (animate-preset endpoint); absent for sprite-only presets.
          example: <url>
    AnimationPresetsResponse:
      type: object
      properties:
        animations:
          type: array
          items:
            $ref: '#/components/schemas/AnimationPresetPublic'
        perspectives:
          type: array
          items:
            $ref: '#/components/schemas/AnimationPerspective'
        directions:
          type: array
          items:
            type: string
    AudioResult:
      type: object
      properties:
        url:
          type: string
          description: URL to the generated audio file
          example: <url>
        type:
          type: string
        duration:
          type: number
          format: float
        request_id:
          type: string
        created_at:
          type: integer
    CreateSpriteAudioPayload:
      type: object
      description: Payload for generating audio for a previously generated spritesheet animation.
      required:
      - spritesheet_video_url
      properties:
        spritesheet_video_url:
          type: string
          description: The video_url of a spritesheet you generated in the last 7 days (returned by animateSprite,
            animateSpriteKeyframes, transferMotion, or editSpritesheet). External URLs are not accepted.
          example: <url>
        prompt:
          type: string
          description: Optional description of the sound to generate.
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. It does not re-tag the spritesheet,
            which keeps the request_id it was generated with.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    EditSpritesheetPayloadPublic:
      type: object
      description: Payload for editing a previously generated spritesheet. edit_mode selects the operation
        - prompt-driven edit (default), outpaint, or loop fixing.
      required:
      - spritesheet_url
      properties:
        spritesheet_url:
          type: string
          description: URL of a spritesheet you generated in the last 7 days (returned by animateSprite,
            transferMotion, or a previous edit as spritesheet_url). External URLs are not accepted.
          example: <url>
        edit_mode:
          type: string
          description: Edit operation to perform.
          enum:
          - prompt
          - outpaint
          - fix_loop
          default: prompt
          example: prompt
        prompt:
          type: string
          description: Edit instruction. Required for edit_mode "prompt", optional for "outpaint", not
            accepted for "fix_loop".
        images:
          type: array
          maxItems: 5
          items:
            type: string
          description: Optional reference images (up to 5), each a URL or base64, to guide the edit.
        duration:
          type: number
          format: float
          description: |-
            Duration in seconds. Available values depend on the model:
            - hydra: 3, 3.5, 4, 4.5, 5
            - forge: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
            - forge-pixel: 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
        model:
          type: string
          description: |-
            Model to use. Available models:
            - "hydra" (Hydra): 3 credits/s, shortest duration 3s, so 9 credits minimum · Most capable all-around model, generates audio
            - "forge" (Forge): 2 credits/s, min charge 4 credits · Sharper detail, simpler motion. Best for simple body shapes and short actions; may need a few tries
            - "forge-pixel" (Forge Pixel): 2 credits/s, min charge 4 credits · Best for low-res pixel art animations
          enum:
          - hydra
          - forge
          - forge-pixel
          default: hydra
        crop:
          type: boolean
          description: Crop sprite frames to fit content (omit to keep the source spritesheet's setting).
            Results in smaller spritesheets but inconsistent frame sizes across different animations.
        loop:
          type: boolean
          default: true
          description: Trim the animation at the beginning or end to create a seamless loop.
        frames:
          type: number
          format: integer
          description: Number of frames in the output spritesheet. Omit to keep the source spritesheet's
            frame count.
          enum:
          - 4
          - 9
          - 16
          - 25
          - 36
          - 49
          - 64
        frame_size:
          type: number
          format: integer
          description: Size of each frame in pixels (width and height). 0 is for maximum resolution. Omit
            to keep the source spritesheet's frame size.
          enum:
          - 32
          - 64
          - 96
          - 128
          - 192
          - 256
          - 384
          - 0
        gif:
          type: boolean
          default: false
          description: When true, generates an animated GIF from the spritesheet and returns it in gif_url.
            Disabled by default to reduce response time.
          example: false
        individual_frames:
          type: boolean
          default: false
          description: When true, extracts each frame from the spritesheet as an individual image and
            returns the URLs in individual_frame_urls.
          example: false
        spritesheet_with_background:
          type: boolean
          default: false
          description: When true, also returns the spritesheet with background intact (before background
            removal). The with-background spritesheet URL will be in spritesheet_with_background_url.
          example: false
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        metadata:
          type: string
        error_payload:
          type: string
        intent:
          type: object
          description: Stripe intent details sent with 3D Secure (406) errors
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - payment
              - setup
              example: payment
            client_secret:
              type: string
    GeneratePosePayload:
      type: object
      description: Payload for generating a new pose for an existing sprite
      required:
      - image
      - pose
      properties:
        image:
          type: string
          description: URL or base64-encoded source sprite image to generate a new pose from.
          example: <url> OR data:image/png;base64,...
        pose:
          type: string
          description: Target pose for the sprite. Use the value "Other" to generate other poses not listed
            in the accepted values, and fill the field description accordingly.
          enum:
          - Idle (Front)
          - Idle (Back)
          - Idle (Left Facing)
          - Idle (Right Facing)
          - Walk (Left)
          - Walk (Right)
          - Walk (Towards the camera)
          - Walk (Away from the camera)
          - Run (Left)
          - Run (Right)
          - Run (Towards the camera)
          - Run (Away from the camera)
          - Crouching
          - Crawling
          - Sitting
          - Defending / Blocking
          - Attack Ready
          - Jump Preparation
          - Sleeping
          - Flying
          - Other
          example: Idle (Front)
        description:
          type: string
          description: Optional additional instructions or description to guide the pose generation.
        n:
          type: number
          format: integer
          description: Number of pose variations to generate (1-4).
          minimum: 1
          maximum: 4
          default: 1
          example: 1
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    PoseResult:
      type: object
      description: Result of a pose generation
      properties:
        url:
          type: string
          description: URL of the generated pose image
          example: <url>
        pose:
          type: string
          description: The pose that was used to generate this image
        description:
          type: string
          description: The pose description that was used to generate this image
        motion_prompt:
          type: string
          description: A suggested motion prompt optimized for this pose. Can be used directly with 'animateSprite'
            for best animation results.
    PublicJob:
      type: object
      required:
      - id
      - task_type
      - status
      - created_at
      properties:
        id:
          type: string
        task_type:
          type: string
          description: 'The public operationId that created this job (e.g. createImage). Determines the
            shape of `result`: it is exactly the 200 response body documented for that operation.'
        status:
          type: string
          enum:
          - queued
          - running
          - succeeded
          - failed
          - canceled
          example: queued
        request_id:
          type: string
        created_at:
          type: integer
          format: int64
          description: Unix ms
        finished_at:
          type: integer
          format: int64
        credits_charged:
          type: number
          format: float
          description: Credits this job cost you. Charged at enqueue; reported as 0 once a job fails or
            is canceled, since the charge is refunded.
        result:
          type: object
          description: Present only when status is succeeded. Same shape as the synchronous response of
            the operation named by task_type.
        error:
          $ref: '#/components/schemas/PublicJobError'
        poll_after_ms:
          type: integer
          format: int32
          description: 'Present while the job is queued or running: wait at least this many milliseconds
            before polling again. Prefer GET /assets/jobs/{id}?wait=30 (long-poll) over tight loops.'
    PublicJobError:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
    RotateSpritePayload:
      type: object
      description: Payload for rotating the camera view of an existing sprite
      required:
      - image
      - camera_rotation
      properties:
        image:
          type: string
          description: URL or base64-encoded source sprite image to rotate.
          example: <url> OR data:image/png;base64,...
        camera_rotation:
          type: integer
          enum:
          - 0
          - 45
          - 90
          - 135
          - 180
          - -135
          - -90
          - -45
          description: Camera azimuth angle in degrees. 0 = front, 45 = front-right, 90 = right side,
            135 = back-right, 180 = back, -135 = back-left, -90 = left side, -45 = front-left.
          example: 0
        camera_elevation:
          type: integer
          enum:
          - 0
          - 30
          - 60
          description: Optional camera elevation/tilt in degrees. 0 = eye-level, 30 = elevated, 60 = high-angle.
            Omit to keep the sprite's current elevation.
          example: 0
        n:
          type: number
          format: integer
          description: Number of variations to generate (1-4).
          minimum: 1
          maximum: 4
          default: 1
          example: 1
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    RotateSpriteResult:
      type: object
      description: Result of a sprite camera rotation
      properties:
        url:
          type: string
          description: URL of the generated image
          example: <url>
[...]
