# Split of openapi/_original/ludo-ai-rest-api-openapi.yml by tag (Audio).
openapi: 3.0.0
info:
  version: 0.9.10
  title: Ludo.ai Audio API
  description: |-
    Generate sound effects, ambiances, music, character voices and speech, and transform existing audio.

    Part of the Ludo.ai public API. Full spec: https://api.ludo.ai/api-documentation/openapi.json
  x-logo:
    url: https://api.ludo.ai/static/logo-small.png
    altText: Logo
  x-model-lineup: 'Current models: hydra (Hydra) - Most capable all-around model, generates audio. forge
    (Forge) - Sharper detail, simpler motion. Best for simple body shapes and short actions; may need
    a few tries. forge-pixel (Forge Pixel) - Best for low-res pixel art animations. griffin (Griffin)
    - Fast cinematic videos in any style, with audio, 480p. griffin-hd (Griffin HD) - Same as Griffin,
    but in 720p. Per action - sprite animation: hydra, forge, forge-pixel; motion transfer: hydra, forge,
    forge-pixel; spritesheet editing: hydra, forge, forge-pixel; video generation: griffin, griffin-hd;
    references to video: griffin, griffin-hd; video editing: griffin-hd. LEGACY models, still accepted
    but scheduled for removal - do not use them for new work: blitz, eagle, eagle-audio, tango.'
  contact:
    name: Ludo.ai Support
    email: support@ludo.ai
    url: https://ludo.ai/contact
  termsOfService: https://ludo.ai/terms-of-service
externalDocs:
  description: API reference
  url: https://api.ludo.ai/api-documentation
servers:
- url: https://api.ludo.ai/api
  description: Production
tags:
- name: Audio
paths:
  /audio/sound-effect:
    post:
      summary: createSoundEffect
      tags:
      - Audio
      operationId: createSoundEffect
      x-credit-action: GENERATE_AUDIO_SFX
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSoundEffectPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/sound-effect" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"description":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/sound-effect", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "description": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/sound-effect",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "description": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 2 credits per call
      x-credit-summary: This endpoint consumes 2 credits per call
      description: |-
        Produce a short sound effect (SFX) from a text description, such as "laser gun firing" or "footsteps on gravel". The job result is a single audio result containing a URL. The description field is required, duration is capped at 10 seconds (0 means auto-pick based on the description), and you may set loop to true for a seamlessly looping effect. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for short, discrete sounds; use createAmbiance for a continuous looping background soundscape, createMusic for musical pieces, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 2 credits per call.
      x-mcp-description: |-
        Produce a short sound effect (SFX) from a text description, such as "laser gun firing" or "footsteps on gravel". The job result is a single audio result containing a URL. The description field is required, duration is capped at 10 seconds (0 means auto-pick based on the description), and you may set loop to true for a seamlessly looping effect. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for short, discrete sounds; use createAmbiance for a continuous looping background soundscape, createMusic for musical pieces, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 2 credits per call.
  /audio/ambiance:
    post:
      summary: createAmbiance
      tags:
      - Audio
      operationId: createAmbiance
      x-credit-action: GENERATE_AUDIO_SFX
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAmbiancePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/ambiance" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"description":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/ambiance", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "description": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/ambiance",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "description": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 2 credits per call
      x-credit-summary: This endpoint consumes 2 credits per call
      description: |-
        Produce a looping background ambiance soundscape from a text description, such as "windy forest at dusk" or "busy tavern interior". The job result is a single audio result containing a URL. The description field is required and duration is capped at 10 seconds (0 means auto-pick based on the description). Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for continuous, atmospheric background loops; use createSoundEffect for short discrete sound effects, createMusic for musical pieces, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 2 credits per call.
      x-mcp-description: |-
        Produce a looping background ambiance soundscape from a text description, such as "windy forest at dusk" or "busy tavern interior". The job result is a single audio result containing a URL. The description field is required and duration is capped at 10 seconds (0 means auto-pick based on the description). Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for continuous, atmospheric background loops; use createSoundEffect for short discrete sound effects, createMusic for musical pieces, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 2 credits per call.
  /audio/music:
    post:
      summary: createMusic
      tags:
      - Audio
      operationId: createMusic
      x-credit-action: GENERATE_AUDIO_MUSIC
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMusicPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/music" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"description":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/music", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "description": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/music",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "description": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 3 credits per call
      x-credit-summary: This endpoint consumes 3 credits per call
      description: |-
        Produce a piece of music from a text description, such as "epic orchestral battle theme" or "calm piano melody", with optional lyrics. The job result is a single audio result containing a URL. The description field is required; duration must be one of the allowed values (0 means auto, otherwise multiples of 10 up to 180 seconds) and out-of-range values return HTTP 400. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for songs and musical scores; use createSoundEffect for short sound effects, createAmbiance for looping background soundscapes, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 3 credits per call.
      x-mcp-description: |-
        Produce a piece of music from a text description, such as "epic orchestral battle theme" or "calm piano melody", with optional lyrics. The job result is a single audio result containing a URL. The description field is required; duration must be one of the allowed values (0 means auto, otherwise multiples of 10 up to 180 seconds) and out-of-range values return HTTP 400. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this for songs and musical scores; use createSoundEffect for short sound effects, createAmbiance for looping background soundscapes, and createAudioTransform to remix an existing audio sample. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 3 credits per call.
  /audio/transform:
    post:
      summary: createAudioTransform
      tags:
      - Audio
      operationId: createAudioTransform
      x-credit-action: GENERATE_AUDIO_TRANSFORM
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAudioTransformPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/transform" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"sample":"<url> OR data:audio/mp3;base64,...","prompt":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/transform", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "sample": "<url> OR data:audio/mp3;base64,...",
              "prompt": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/transform",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "sample": "<url> OR data:audio/mp3;base64,...",
                "prompt": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 3 credits per call
      x-credit-summary: This endpoint consumes 3 credits per call
      description: |-
        Remix an existing audio sample (a sound effect, ambiance, or music clip) into a variation guided by a text prompt, for example turning a track into an 80s synthwave or metal version. Both the sample and the prompt are required; the sample is uploaded as a URL or base64 audio and must be at most 15MB or the call returns HTTP 400, and duration must be one of the allowed values (0 means match the source, otherwise multiples of 10 up to 180 seconds). The job result is a single audio result containing a URL. The optional modification_strength (0 to 1, default 0.6) controls how far the result departs from the original. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this to transform existing audio you already have; use createSoundEffect, createAmbiance, or createMusic to generate audio from scratch. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 3 credits per call.
      x-mcp-description: |-
        Remix an existing audio sample (a sound effect, ambiance, or music clip) into a variation guided by a text prompt, for example turning a track into an 80s synthwave or metal version. Both the sample and the prompt are required; the sample is uploaded as a URL or base64 audio and must be at most 15MB or the call returns HTTP 400, and duration must be one of the allowed values (0 means match the source, otherwise multiples of 10 up to 180 seconds). The job result is a single audio result containing a URL. The optional modification_strength (0 to 1, default 0.6) controls how far the result departs from the original. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this to transform existing audio you already have; use createSoundEffect, createAmbiance, or createMusic to generate audio from scratch. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 3 credits per call.
  /audio/voice:
    post:
      summary: createVoice
      tags:
      - Audio
      operationId: createVoice
      x-credit-action: GENERATE_AUDIO_SPEECH
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVoicePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/voice" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"voice_description":"string","text":"string"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/voice", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "voice_description": "string",
              "text": "string"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/voice",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "voice_description": "string",
                "text": "string"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 1 credits per call
      x-credit-summary: This endpoint consumes 1 credits per call
      description: |-
        Design a new voice from a character description (such as "deep-voiced warrior" or "cheerful young girl") and have it speak a short line of text, returning a sample of that newly created voice. Both voice_description and text are required, the spoken text is limited to 200 characters or the call returns HTTP 400, and type selects "human" or "non-human" voices. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this to invent and audition a voice from a description; use createSpeech for text-to-speech that clones a specific voice from an audio sample, and createSpeechPreset for text-to-speech using a named preset voice. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll `GET /assets/jobs/{id}`, honouring poll_after_ms or long-polling with wait=30, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 1 credits per call.
      x-mcp-description: |-
        Design a new voice from a character description (such as "deep-voiced warrior" or "cheerful young girl") and have it speak a short line of text, returning a sample of that newly created voice. Both voice_description and text are required, the spoken text is limited to 200 characters or the call returns HTTP 400, and type selects "human" or "non-human" voices. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this to invent and audition a voice from a description; use createSpeech for text-to-speech that clones a specific voice from an audio sample, and createSpeechPreset for text-to-speech using a named preset voice. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll `GET /assets/jobs/{id}`, honouring poll_after_ms or long-polling with wait=30, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 1 credits per call.
  /audio/speech:
    post:
      summary: createSpeech
      tags:
      - Audio
      operationId: createSpeech
      security:
      - ApiKey: []
      x-credit-action: GENERATE_AUDIO_SPEECH
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSpeechPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/speech" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"text":"string","sample":"<url> OR data:audio/mp3;base64,..."}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/speech", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "text": "string",
              "sample": "<url> OR data:audio/mp3;base64,..."
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/speech",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "text": "string",
                "sample": "<url> OR data:audio/mp3;base64,..."
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 1 credits per call
      x-credit-summary: This endpoint consumes 1 credits per call
      description: |-
        Convert text to speech by cloning the voice from an audio sample you provide (voice-cloning text-to-speech). Both text and sample are required; the text is limited to 1000 characters and the sample is supplied as a URL or base64 audio that must be at most 15MB, with violations returning HTTP 400. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this when you have a reference voice sample to clone; use createSpeechPreset to speak with a built-in named preset voice instead, and createVoice to design a brand-new voice from a text description rather than cloning one. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 1 credits per call.
      x-mcp-description: |-
        Convert text to speech by cloning the voice from an audio sample you provide (voice-cloning text-to-speech). Both text and sample are required; the text is limited to 1000 characters and the sample is supplied as a URL or base64 audio that must be at most 15MB, with violations returning HTTP 400. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this when you have a reference voice sample to clone; use createSpeechPreset to speak with a built-in named preset voice instead, and createVoice to design a brand-new voice from a text description rather than cloning one. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 1 credits per call.
  /audio/speech-preset:
    post:
      summary: createSpeechPreset
      tags:
      - Audio
      operationId: createSpeechPreset
      x-credit-action: GENERATE_AUDIO_SPEECH
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSpeechPresetPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResult'
        '202':
          description: 'Accepted - the generation was queued; poll GET /assets/jobs/{id}. A synchronous
            (async: false) call still running after 15 minutes also receives this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X POST "https://api.ludo.ai/api/audio/speech-preset" \
            -H "Authorization: ApiKey YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"text":"string","voice_preset_id":"Serious woman"}'
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/audio/speech-preset", {
            method: "POST",
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "text": "string",
              "voice_preset_id": "Serious woman"
            })
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.post(
              "https://api.ludo.ai/api/audio/speech-preset",
              headers={
                  "Authorization": "ApiKey YOUR_API_KEY",
                  "Content-Type": "application/json"
              },
              json={
                "text": "string",
                "voice_preset_id": "Serious woman"
              }
          )

          print(response.json())
      x-credit-description: This endpoint consumes 1 credits per call
      x-credit-summary: This endpoint consumes 1 credits per call
      description: |-
        Convert text to speech using a named built-in preset voice, with optional emotion and language settings. Both text and voice_preset_id are required and the text is limited to 1000 characters; invalid input returns HTTP 400. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this when you want a ready-made catalog voice and do not need to supply your own sample; use createSpeech to clone a voice from an audio sample instead, and createVoice to design a new voice from a text description. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        > **Credits:** This endpoint consumes 1 credits per call.
      x-mcp-description: |-
        Convert text to speech using a named built-in preset voice, with optional emotion and language settings. Both text and voice_preset_id are required and the text is limited to 1000 characters; invalid input returns HTTP 400. The job result is a single audio result containing a URL. Credits are held when the job is accepted and refunded if it fails or is cancelled. Use this when you want a ready-made catalog voice and do not need to supply your own sample; use createSpeech to clone a voice from an audio sample instead, and createVoice to design a new voice from a text description. Pass an optional request_id to tag the result so you can locate it later via listGenerations (type audio). Requires an API key (user scope). The call returns 202 with a job id - poll getApiJob (pass wait 30 to long-poll) honouring poll_after_ms, until status is succeeded; its result field is exactly the response documented for this operation. Synchronous responses are deprecated but still supported: pass `async: false` to block until the result is ready and receive it as the response body. Synchronous calls run on the same queue: the response carries an X-Ludo-Job-Id header, and a job still running after 15 minutes comes back as 202 with the job instead of an error. Each account may have up to 50 generations queued or running at once via the API; a request beyond that returns 429 (code PENDING_JOBS_LIMIT).

        Credits: This endpoint consumes 1 credits per call.
  /assets/audio/results:
    get:
      description: |-
        **Deprecated:** prefer `GET /assets/generations` (all types, paginated, same source filter). This endpoint continues to work; no removal is scheduled.
        List audio clips you previously generated through the API, most recent first. This is a free read-only history lookup (no credits, no generation); it does not create anything. Pass an optional request_id query parameter to return only the results tagged with that id when you originally called createSoundEffect, createAmbiance, createMusic, createAudioTransform, createVoice, createSpeech, or createSpeechPreset. Requires an API key (user scope).
      tags:
      - Audio
      operationId: getAudioResults
      deprecated: true
      x-mcp-exclude: true
      security:
      - ApiKey: []
      parameters:
      - name: request_id
        in: query
        description: Filter results by request_id
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: 'Which surface the results were generated from: api (default, your API/MCP generations
          from the last 7 days), web (your Ludo web studio generations, no time limit), or all'
        required: false
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: api
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudioResult'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/audio/results" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/audio/results", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/audio/results",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
components:
  schemas:
    AudioResult:
      type: object
      properties:
        url:
          type: string
          description: URL to the generated audio file
          example: <url>
        type:
          type: string
        duration:
          type: number
          format: float
        request_id:
          type: string
        created_at:
          type: integer
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        metadata:
          type: string
        error_payload:
          type: string
        intent:
          type: object
          description: Stripe intent details sent with 3D Secure (406) errors
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - payment
              - setup
              example: payment
            client_secret:
              type: string
    GenerateAmbiancePayload:
      type: object
      description: Payload for generating a seamless looping ambiance soundscape from a text description
      required:
      - description
      properties:
        description:
          type: string
          description: Text description of the ambiance to generate (e.g., "windy forest at dusk", "busy
            tavern interior").
        duration:
          type: number
          format: float
          minimum: 0
          maximum: 10
          default: 0
          description: Duration in seconds. Use 0 for automatic duration based on the description.
          example: 0
        loop:
          type: boolean
          default: true
          description: Generate an ambiance that loops seamlessly.
          example: true
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateAudioTransformPayload:
      type: object
      description: Payload for remixing an audio sample (sound effect, ambiance or music) into a variation
        guided by a text prompt
      required:
      - sample
      - prompt
      properties:
        sample:
          type: string
          description: URL or base64-encoded source audio sample to remix (15MB max).
          example: <url> OR data:audio/mp3;base64,...
        prompt:
          type: string
          description: Text description guiding the remix (e.g., "make it sound like an 80s synthwave
            track", "turn this into a metal version").
        duration:
          type: integer
          default: 0
          description: Duration in seconds. Use 0 for automatic duration matching the source sample.
          enum:
          - 0
          - 10
          - 20
          - 30
          - 40
          - 50
          - 60
          - 70
          - 80
          - 90
          - 100
          - 110
          - 120
          - 130
          - 140
          - 150
          - 160
          - 170
          - 180
          example: 0
        modification_strength:
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0.6
          description: Controls how strongly the source sample is modified. 0 keeps it close to the original,
            1 transforms it fully.
          example: 0.6
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateMusicPayload:
      type: object
      description: Payload for generating music from a text description
      required:
      - description
      properties:
        description:
          type: string
          description: Text description of the music to generate (e.g., "epic orchestral battle theme",
            "calm piano melody").
        lyrics:
          type: string
          description: Optional lyrics to include in the generated music.
        duration:
          type: integer
          default: 0
          description: Duration in seconds. Use 0 for automatic duration based on the description.
          enum:
          - 0
          - 10
          - 20
          - 30
          - 40
          - 50
          - 60
          - 70
          - 80
          - 90
          - 100
          - 110
          - 120
          - 130
          - 140
          - 150
          - 160
          - 170
          - 180
          example: 0
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateSoundEffectPayload:
      type: object
      description: Payload for generating a sound effect from a text description
      required:
      - description
      properties:
        description:
          type: string
          description: Text description of the sound effect to generate (e.g., "laser gun firing", "footsteps
            on gravel").
        duration:
          type: number
          format: float
          minimum: 0
          maximum: 10
          default: 0
          description: Duration in seconds. Use 0 for automatic duration based on the description.
          example: 0
        loop:
          type: boolean
          default: false
          description: Generate a sound effect that loops seamlessly.
          example: false
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateSpeechPayload:
      type: object
      description: Payload for text-to-speech generation using voice cloning
      required:
      - text
      - sample
      properties:
        text:
          type: string
          description: Text to convert to speech (max 1000 characters).
          maxLength: 1000
          minLength: 1
        sample:
          type: string
          description: URL or base64-encoded audio sample for voice cloning.
          example: <url> OR data:audio/mp3;base64,...
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateSpeechPresetPayload:
      type: object
      description: Payload for text-to-speech generation using a voice preset
      required:
      - text
      - voice_preset_id
      properties:
        text:
          type: string
          description: Text to convert to speech (max 1000 characters).
          maxLength: 1000
        voice_preset_id:
          type: string
          description: Voice preset identifier.
          enum:
          - Serious woman
          - Wise woman
          - Calm woman
          - Fast-paced woman
          - Calm young girl
          - Expressive teen girl
          - Calm teen girl
          - Sweet girl
          - Patient man
          - Determined man
          - Young elegant man
          - Teen boy
          - Friendly man
          - Deep voice man
          example: Serious woman
        emotion:
          type: string
          description: Emotion to apply to the speech.
          enum:
          - Default
          - Happy
          - Sad
          - Angry
          - Fearful
          - Disgusted
          - Surprised
          - Neutral
          example: Default
        language:
          type: string
          description: Language code for the speech.
          enum:
          - auto
          - English
          - Afrikaans
          - Arabic
          - Bulgarian
          - Catalan
          - Chinese
          - Chinese,Yue
          - Croatian
          - Czech
          - Danish
          - English
          - Filipino
          - Finnish
          - French
          - German
          - Greek
          - Hebrew
          - Hindi
          - Hungarian
          - Indonesian
          - Italian
          - Japanese
          - Korean
          - Malay
          - Norwegian
          - Nynorsk
          - Persian
          - Polish
          - Portuguese
          - Romanian
          - Russian
          - Slovak
          - Slovenian
          - Spanish
          - Swedish
          - Tamil
          - Thai
          - Turkish
          - Ukrainian
          - Vietnamese
          example: auto
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    GenerateVoicePayload:
      type: object
      description: Payload for generating a voice sample from a character description
      required:
      - voice_description
      - text
      properties:
        voice_description:
          type: string
          description: Text description of the voice character (e.g., "deep-voiced warrior", "cheerful
            young girl").
        text:
          type: string
          description: Text for the voice to speak (max 200 characters).
          maxLength: 200
          minLength: 1
        type:
          type: string
          default: human
          description: Type of voice to generate.
          enum:
          - human
          - non-human
          example: human
        augment_prompt:
          type: boolean
          default: true
          description: Augment the prompt behind the scenes. Disable to have more control.
          example: true
        request_id:
          type: string
          description: Optional client-provided identifier, unique per request. Re-sending the same request_id
            returns the existing job instead of generating again. Also usable as the request_id filter
            of listGenerations.
        async:
          type: boolean
          default: true
          description: 'Defaults to true: the call returns 202 immediately with a job id to poll with
            getApiJob. Set false for a synchronous response (deprecated but supported): the call then
            blocks until the result is ready.'
          example: true
    PublicJob:
      type: object
      required:
      - id
      - task_type
      - status
      - created_at
      properties:
        id:
          type: string
        task_type:
          type: string
          description: 'The public operationId that created this job (e.g. createImage). Determines the
            shape of `result`: it is exactly the 200 response body documented for that operation.'
        status:
          type: string
          enum:
          - queued
          - running
          - succeeded
          - failed
          - canceled
          example: queued
        request_id:
          type: string
        created_at:
          type: integer
          format: int64
          description: Unix ms
        finished_at:
          type: integer
          format: int64
        credits_charged:
          type: number
          format: float
          description: Credits this job cost you. Charged at enqueue; reported as 0 once a job fails or
            is canceled, since the charge is refunded.
        result:
          type: object
          description: Present only when status is succeeded. Same shape as the synchronous response of
            the operation named by task_type.
        error:
          $ref: '#/components/schemas/PublicJobError'
        poll_after_ms:
          type: integer
          format: int32
          description: 'Present while the job is queued or running: wait at least this many milliseconds
            before polling again. Prefer GET /assets/jobs/{id}?wait=30 (long-poll) over tight loops.'
    PublicJobError:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: |
        For accessing the API a valid API Key token must be passed in all the queries in
        the 'Authorization' header.
        The following syntax must be used in the 'Authorization' header: ApiKey xxxxxx.yyyyyyy.zzzzzz
