# Split of openapi/_original/ludo-ai-rest-api-openapi.yml by tag (Jobs, Generations).
openapi: 3.0.0
info:
  version: 0.9.10
  title: Ludo.ai Jobs and Results API
  description: |-
    Asynchronous job control (list, poll with long-polling, cancel with refund) and the account's generation history.

    Part of the Ludo.ai public API. Full spec: https://api.ludo.ai/api-documentation/openapi.json
  x-logo:
    url: https://api.ludo.ai/static/logo-small.png
    altText: Logo
  x-model-lineup: 'Current models: hydra (Hydra) - Most capable all-around model, generates audio. forge
    (Forge) - Sharper detail, simpler motion. Best for simple body shapes and short actions; may need
    a few tries. forge-pixel (Forge Pixel) - Best for low-res pixel art animations. griffin (Griffin)
    - Fast cinematic videos in any style, with audio, 480p. griffin-hd (Griffin HD) - Same as Griffin,
    but in 720p. Per action - sprite animation: hydra, forge, forge-pixel; motion transfer: hydra, forge,
    forge-pixel; spritesheet editing: hydra, forge, forge-pixel; video generation: griffin, griffin-hd;
    references to video: griffin, griffin-hd; video editing: griffin-hd. LEGACY models, still accepted
    but scheduled for removal - do not use them for new work: blitz, eagle, eagle-audio, tango.'
  contact:
    name: Ludo.ai Support
    email: support@ludo.ai
    url: https://ludo.ai/contact
  termsOfService: https://ludo.ai/terms-of-service
externalDocs:
  description: API reference
  url: https://api.ludo.ai/api-documentation
servers:
- url: https://api.ludo.ai/api
  description: Production
tags:
- name: Jobs
- name: Generations
paths:
  /assets/generations:
    get:
      description: |-
        List your generation history - everything you have generated, through the API or in the Ludo web studio - most recent first. This is a free read-only lookup (no credits, no generation); it does not create anything. Pick a media `type` (image, spritesheet, video, audio, or 3d) and optionally narrow by free-text `search` (matched against tags, prompts and the other text on the asset), `source`, a `date_from`/`date_to` range (unix seconds), or the `request_id` you passed when you generated. Results are paginated with `page_size` (default 20, max 100) and 1-based `page_number`, and come back as an object: `items` (this page), plus `page`, `page_size` and `has_more`. Page until `has_more` is false rather than until you get a short page. `has_more` is computed by reading one row beyond the page, so it costs no extra query; there is deliberately no total count.

        `source` selects the surface an item came from: `api` returns only your API/MCP generations, `web` only your web-studio ones, `all` (the default) both. API-originated items expire 7 days after creation - their files live under a lifecycle-pruned storage prefix - so `source=api` never returns anything older than 7 days, while web items are kept indefinitely and are not time-bounded. API-originated results expire after 7 days - download anything you want to retain. (Assets can be kept permanently from the Ludo web app.) Each item carries an `id`, its generation-history id, which identifies the item across these listings. Every item also carries `type`, echoing the media type you asked for; on audio items the kind of audio (sfx, music, speech) is reported as `audio_type` so it does not collide with it.

        This lists work that has already FINISHED. To follow a generation that is still queued or running, poll getApiJob with the job id you were given instead. Requires an API key (user scope).
      x-mcp-description: List your generation history across the API and the web app - filter by type,
        source (api|web|all), text search, and date range. Returns {items, page, page_size, has_more};
        keep paging while has_more is true. API-originated results expire after 7 days - download anything
        you want to retain. For an in-flight job's status use getApiJob instead.
      tags:
      - Generations
      operationId: listGenerations
      security:
      - ApiKey: []
      parameters:
      - name: type
        in: query
        description: Which kind of generation to list
        required: true
        schema:
          type: string
          enum:
          - image
          - spritesheet
          - video
          - audio
          - 3d
      - name: search
        in: query
        description: Free-text search. Every whitespace-separated term must match (case-insensitive substring)
          the item's tags or one of its text fields (prompt, hints, style, label, ...), so "dwarf axe"
          narrows to items matching both.
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: 'Which surface the items were generated from: api (your API/MCP generations, last
          7 days only), web (your Ludo web studio generations, no time limit), or all (default, both)'
        required: false
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: all
      - name: date_from
        in: query
        description: Only return items generated at or after this time (unix seconds)
        required: false
        schema:
          type: integer
      - name: date_to
        in: query
        description: Only return items generated at or before this time (unix seconds)
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Items per page (1-100)
        required: false
        schema:
          type: integer
          default: 20
      - name: page_number
        in: query
        description: 1-based page number
        required: false
        schema:
          type: integer
          default: 1
      - name: request_id
        in: query
        description: Only return items tagged with this request_id when you generated them
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationList'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/generations" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/generations", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/generations",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
  /assets/jobs:
    get:
      description: List the generation jobs you started through the API or MCP, most recent first. Web-app
        jobs are not included. This is a free read-only lookup (no credits, no generation). Filter with
        a comma-separated status list; limit defaults to 50 and is capped at 100. Requires an API key
        (user scope).
      tags:
      - Jobs
      operationId: listApiJobs
      security:
      - ApiKey: []
      parameters:
      - name: status
        in: query
        description: Comma-separated statuses to include (queued, running, succeeded, failed, canceled).
          Defaults to all.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of jobs to return. Defaults to 50, capped at 100.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/jobs" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/jobs", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/jobs",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
  /assets/jobs/{id}:
    get:
      description: 'Fetch one job you started through the API or MCP. Statuses: queued, running (both
        non-terminal - the response carries poll_after_ms, wait at least that long before asking again),
        then succeeded (read `result`), failed (read `error`: {code, subcode, message, retriable}; the
        held credits are refunded) or canceled. Generations typically finish within a few minutes; a job
        still queued after 15 minutes can be cancelled and resubmitted. Better still, pass wait=<seconds>
        (up to 60) to long-poll: the request is held until the job reaches a terminal state, so one call
        replaces a polling loop. Once status is succeeded, `result` holds exactly what the synchronous
        form of the operation named by task_type would have returned. This is a free read-only lookup
        (no credits). Requires an API key (user scope).'
      tags:
      - Jobs
      operationId: getApiJob
      x-mcp-description: 'Poll the status of a generation job started by any tool. Every generation tool
        returns `{id, status}`; call getApiJob with that id until status is `succeeded` (then read `result`,
        shaped exactly like the tool''s documented output) or `failed` (read `error`). Poll every few
        seconds, or pass `wait: 30` to long-poll - the call is held up to 30 seconds (max 60) and returns
        as soon as the job finishes.'
      security:
      - ApiKey: []
      parameters:
      - name: id
        in: path
        description: The job id returned by a generation call (its `id` in the 202 response).
        required: true
        schema:
          type: string
      - name: wait
        in: query
        description: Seconds to long-poll for a terminal state (0-60). Defaults to 0 (return immediately).
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such job for this API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X GET "https://api.ludo.ai/api/assets/jobs/{id}" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/jobs/{id}", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.get(
              "https://api.ludo.ai/api/assets/jobs/{id}",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
    delete:
      description: Cancel a queued job you started through the API or MCP; the credits held for it are
        refunded. Jobs that are already running cannot be canceled (409). Returns the canceled job. This
        is free (no credits). Requires an API key (user scope).
      tags:
      - Jobs
      operationId: cancelApiJob
      security:
      - ApiKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such job for this API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Job is not in a cancelable state (e.g. already running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl -X DELETE "https://api.ludo.ai/api/assets/jobs/{id}" \
            -H "Authorization: ApiKey YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.ludo.ai/api/assets/jobs/{id}", {
            headers: {
              "Authorization": "ApiKey YOUR_API_KEY"
            }
          });

          const data = await response.json();
          console.log(data);
      - lang: Python
        label: Python
        source: |-
          import requests

          response = requests.delete(
              "https://api.ludo.ai/api/assets/jobs/{id}",
              headers={"Authorization": "ApiKey YOUR_API_KEY"}
          )

          print(response.json())
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        metadata:
          type: string
        error_payload:
          type: string
        intent:
          type: object
          description: Stripe intent details sent with 3D Secure (406) errors
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - payment
              - setup
              example: payment
            client_secret:
              type: string
    GenerationList:
      type: object
      properties:
        items:
          type: array
          description: This page of results, newest first.
          items:
            $ref: '#/components/schemas/GenerationListItem'
        page:
          type: integer
          description: The 1-based page number these items came from.
        page_size:
          type: integer
          description: The page size actually applied (your page_size, clamped to 1-100).
        has_more:
          type: boolean
          description: Whether at least one more page exists after this one. Page until this is false
            rather than until you get a short page.
    GenerationListItem:
      type: object
      properties:
        id:
          type: string
          description: Generation-history id of this item, identifying it across these listings. API-originated
            results expire after 7 days - download anything you want to retain. (Assets can be kept permanently
            from the Ludo web app.)
        type:
          type: string
          description: The media type of this item, echoing the requested `type`.
          enum:
          - image
          - spritesheet
          - video
          - audio
          - 3d
          example: image
        request_id:
          type: string
        created_at:
          type: integer
          description: When the item was generated (unix seconds).
        url:
          type: string
          description: 'image / video / audio: URL to the generated file.'
          example: <url>
        duration:
          type: number
          format: float
          description: 'video / audio / spritesheet: duration in seconds.'
        has_audio:
          type: boolean
          description: video only.
        audio_type:
          type: string
          description: 'audio only: the kind of audio (sfx, music, speech). Named `audio_type` here, not
            `type`, because `type` reports the media type on every item.'
        spritesheet_url:
          type: string
          description: spritesheet only.
          example: <url>
        video_url:
          type: string
          description: 'spritesheet only: preview video.'
          example: <url>
        audio_url:
          type: string
          description: 'spritesheet only: URL of the sheet''s sound effect (mp3), when it has one.'
          example: <url>
        num_frames:
          type: integer
          description: spritesheet only.
        num_cols:
          type: integer
          description: 'spritesheet only: columns in the frame grid. Frames run left-to-right, top-to-bottom.'
        num_rows:
          type: integer
          description: 'spritesheet only: rows in the frame grid. The last row may be only partly filled.'
        model_url:
          type: string
          description: '3d only: URL to the generated model file.'
          example: <url>
        snapshots:
          type: array
          items:
            type: string
          description: '3d only: preview snapshot URLs.'
    PublicJob:
      type: object
      required:
      - id
      - task_type
      - status
      - created_at
      properties:
        id:
          type: string
        task_type:
          type: string
          description: 'The public operationId that created this job (e.g. createImage). Determines the
            shape of `result`: it is exactly the 200 response body documented for that operation.'
        status:
          type: string
          enum:
          - queued
          - running
          - succeeded
          - failed
          - canceled
          example: queued
        request_id:
          type: string
        created_at:
          type: integer
          format: int64
          description: Unix ms
        finished_at:
          type: integer
          format: int64
        credits_charged:
          type: number
          format: float
          description: Credits this job cost you. Charged at enqueue; reported as 0 once a job fails or
            is canceled, since the charge is refunded.
        result:
          type: object
          description: Present only when status is succeeded. Same shape as the synchronous response of
            the operation named by task_type.
        error:
          $ref: '#/components/schemas/PublicJobError'
        poll_after_ms:
          type: integer
          format: int32
          description: 'Present while the job is queued or running: wait at least this many milliseconds
            before polling again. Prefer GET /assets/jobs/{id}?wait=30 (long-poll) over tight loops.'
    PublicJobError:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: |
        For accessing the API a valid API Key token must be passed in all the queries in
        the 'Authorization' header.
        The following syntax must be used in the 'Authorization' header: ApiKey xxxxxx.yyyyyyy.zzzzzz
